<div class="container-sm">
  <section class="form-section mb-3">
    {{forms/profile-edit
      user=model
    }}
  </section>

  {{#if model.hasEmailPasswordIdentity}}
    <section class="form-section">
      <label>
        <span class="label-body">Password</span>
      </label>
      <div>
        {{password-change-button user=model}}
      </div>
    </section>
  {{/if}}
</div>
