{{#if build.isFinished}}
  {{approval-button build=build}}
  {{#if build.isApproved}}
    <p class="u-pull-right">
      Approved by<br/>
      {{user-name user=build.approvedBy}}
    </p>
  {{/if}}
{{/if}}
