{{#if build.isFinished}}
  <div class="row">
    {{approval-button build=build}}
  </div>
  {{#if build.isApproved}}
    <div class="row">
      Last approved by @{{build.approvedBy.login}}
    </div>
  {{/if}}
{{/if}}