{{#if (eq selectedNumColumns 4)}}
  <button class="Button" {{action "selectNumColumns" 1}}>
    Full Width
  </button>
{{/if}}
{{#if (eq selectedNumColumns 1)}}
  <button class="Button" {{action "selectNumColumns" 4}}>
    Overview
  </button>
{{/if}}
