<div class="row">
  <div class="two columns">
    {{!-- NOTE: we use the baseBuild.id instead of the object to force the next build to reload so all relationships are available. TODO: better way? --}}
    <h6>{{#link-to "organization.project.builds.build" build.project.organization.slug build.project.slug build.id}}Build {{build.buildNumber}}{{/link-to}}</h6>
  </div>
  <div class="six columns">
    {{commit-info build=build}}
  </div>
  <div class="two columns">
    {{! TODO(fotinakis): figure out why comparison data is not loaded correctly here. }}
    {{build-info build=build showComparisonInfo=false}}
  </div>
  <div class="two columns">{{build-state build=build classes="u-pull-right"}}</div>
</div>
