<div class="BuildInfo-started">{{build-started build=build}}</div>
<div class="BuildInfo-duration">{{build-duration build=build}}</div>
{{#if showComparisonInfo}}
  <div class="BuildInfo-comparison">{{build-comparison-info build=build}}</div>
{{/if}}