<div class="BuildHeader-inner">
  <div class="row">
    <div class="six columns">
      {{build-overview build=build}}
    </div>
    <div class="six columns">
      {{build-overview-info build=build}}
    </div>
  </div>
</div>
