<div class="flex align-center f2 lh-1 text-weight-semibold">
  <div class="text-light">
    Build <span class="text-mono text-dark mr-1">{{build.buildNumber}}</span>
  </div>
  {{build-info-dropdown build=build}}
</div>
