{{#if (eq selectedNumColumns 4)}}
  <button class="Button Button--withLeftIcon" {{action "selectNumColumns" 1}}>
    {{fa-icon "arrows-h" classNames="fa--left"}} Full Width
  </button>
{{/if}}
{{#if (eq selectedNumColumns 1)}}
  <button class="Button Button--withLeftIcon" {{action "selectNumColumns" 4}}>
    {{fa-icon "th" classNames="fa--left"}} Overview
  </button>
{{/if}}