<div class="btn-group btn-group-alt">
  {{#each buildWidths as |width|}}
    {{comparison-switcher-item
      selectedWidth=selectedWidth
      width=width
      comparisons=comparisons
      updateSelectedWidth=updateSelectedWidth
      data-test-ComparisonSwitcher-button=true
    }}
  {{/each}}
</div>
