<div class="btn-group btn-group-alt">
  {{#each comparisons as |comparison|}}
    {{comparison-switcher-item
      selectedWidth=selectedWidth
      width=comparison.width
      comparisons=comparisons
      updateSelectedWidth=updateSelectedWidth
      data-test-ComparisonSwitcher-button=true
    }}
  {{/each}}
</div>
