{{#unless isDefaultExpanded}}
  <div class="Alert Alert--warning">
    <strong>Whew!</strong> There are too many snapshots to show all at once, so they
    are collapsed below. <strong>Tip:</strong> use <code>j</code> and <code>k</code> or the arrow keys to move around.
  </div>
{{/unless}}
{{#each sortedComparisons as |comparison index|}}
  {{comparison-viewer
      comparison=comparison
      listIndex=index
      isDefaultExpanded=isDefaultExpanded
      registerChild=(action "registerChild")
      unregisterChild=(action "unregisterChild")
      selectedNumColumns=selectedNumColumns
  }}
{{/each}}