<div class="container-sm">
  <section class="mb-6">
    <h2 class="f1 text-weight-regular">Connected Accounts</h2>
    {{connected-accounts-panel
      identities=identities
      deleteIdentity=(action "deleteIdentity")
      addIdentity=(action "addIdentity")
    }}
  </section>
  {{#if showCreateAccount}}
    <section>
      <h2 class="f1 text-weight-regular mb-1">Create Account</h2>
      {{forms/account-new model=(hash) saveSuccess=(action "accountCreated")}}
    </section>
  {{/if}}
</div>
