<a href="#" {{action "toggle"}} class="FeedbackSection-tab">Feedback</a>
<div class="FeedbackSection-box">
  {{textarea value=content placeholder="Send us your thoughts! Small or large, good and bad—we want to hear it."}}
  <a href="#" {{action "send"}} class="Button Button--onDark">Send Feedback</a>
</div>

