<div class="container">
  <div class="Header Header--small Header--fixedTop">
    <div class="u-pull-left">
      {{#link-to "index"}}
        <img src="/images/percy.svg" class="Header-logo u-pull-left">
        <div class="Header-title u-pull-left">
          Percy
        </div>
      {{/link-to}}
    </div>
    <div class="u-pull-left">
      {{organizations/switcher-nav currentOrganization=currentOrganization}}
    </div>
    {{#if session.isAuthenticated}}
      {{nav-menu user=session.data.authenticated.user currentOrganization=currentOrganization}}
    {{else}}
      {{nav-menu}}
    {{/if}}
  </div>
  <div class="HeaderSpacer"></div>
</div>
