<div class="container">
  <div class="Header Header--small Header--fixedTop">
    <div class="u-pull-left">
      {{#link-to "index"}}
        <img src="/images/percy.svg" class="Header-logo u-pull-left">
        <div class="Header-title u-pull-left">
          Percy
        </div>
      {{/link-to}}
    </div>
    {{#if session.isAuthenticated}}
      {{nav-menu user=session.secure.user classes="u-pull-right"}}
    {{/if}}
  </div>
</div>
