<div class="container container--fixedWidth container--forContent">
  <div class="row">
    <div class="three columns">
      <div class="Panel">
        <div class="Panel-section Panel-nav">
          <ul>
            <li>{{#link-to "about" classNames="Button Button--nav"}}About{{/link-to}}</li>
            <li>{{#link-to "security" classNames="Button Button--nav"}}Security{{/link-to}}</li>
            <li>{{#link-to "terms" classNames="Button Button--nav"}}Terms{{/link-to}}</li>
            <li>{{#link-to "privacy" classNames="Button Button--nav"}}Privacy{{/link-to}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="nine columns">
      {{yield}}
    </div>
  </div>
</div>
