<div class="container Footer">
  <div class="Footer-links">
    {{#link-to "docs"}}Docs{{/link-to}}
    <a href="https://blog.percy.io">Blog</a>
    {{#link-to "pricing"}}Pricing{{/link-to}}
    <a href="https://status.percy.io/">Status</a>
    {{#link-to "security"}}Security{{/link-to}}
    {{#link-to "terms"}}Terms{{/link-to}}
    {{#link-to "privacy"}}Privacy{{/link-to}}
    {{#link-to "about"}}About{{/link-to}}
  </div>
  <div class="Footer-item Footer-copyright">
    &copy; Perceptual Inc.
  </div>
</div>
