<div class="container container--marketing container--darker">
  <div class="container container--fixedWidth container--forContent">
    <div class="row">
      <div class="five columns u-text-right">
        Pricing<br>
        Blog<br>
        About
      </div>
      <div class="two columns u-text-center u-no-margin">
        <img class="Footer-logo" src="/images/percy.svg">
      </div>
      <div class="five columns u-text-left u-no-margin">
        {{#link-to "terms"}}Terms{{/link-to}}<br>
        {{#link-to "privacy"}}Privacy{{/link-to}}<br>
        © 2015 Perceptual Inc.
      </div>
    </div>
  </div>
</div>