<div class="container Footer">
  {{#link-to "docs"}}Docs{{/link-to}}
  <a href="https://blog.percy.io">Blog</a>
  {{#link-to "pricing"}}Pricing{{/link-to}}
  {{#link-to "terms"}}Terms{{/link-to}}
  {{#link-to "privacy"}}Privacy{{/link-to}}
  {{#link-to "about"}}About{{/link-to}}
  <div class="Footer-item Footer-copyright">© Perceptual Inc.</div>
</div>