<div class="container container--darker Footer">
  <div class="Footer-item Footer-copyright">© 2015 Perceptual Inc.</div>
  {{#link-to "terms"}}Terms{{/link-to}}
  {{#link-to "privacy"}}Privacy{{/link-to}}
  <img class="Footer-logo" src="/images/percy.svg">
</div>