<div class="menu-icon {{if isSidebarVisible 'is-closeable'}}" {{action toggleSidebar}}>
  <div class="menu-icon-line"></div>
  <div class="menu-icon-line"></div>
  <div class="menu-icon-line"></div>
  <div class="menu-icon-line"></div>
</div>
