{{#if user}}
  {{#if currentOrganization}}
    <div class="NavMenu-item">
      {{#link-to "organization.index" currentOrganization.slug}}
        Dashboard
      {{/link-to}}
    </div>
    {{!-- TODO: #billingadmins --}}
    {{#if (eq "admin" currentOrganization.currentUserMembership.role)}}
      <div class="NavMenu-item">
        {{#link-to "organizations.organization.settings" currentOrganization.slug}}
          Settings
        {{/link-to}}
      </div>
    {{/if}}
  {{/if}}
  <div class="NavMenu-avatar">
    {{user-avatar user=user width=36 linked=true href='/account'}}
  </div>
{{else}}
  <div class="NavMenu-item NavMenu-item--right">
    <a href="#" {{action "redirectToLogin"}}>Sign In</a>
  </div>
  <div class="NavMenu-item NavMenu-item--right">
    {{#link-to "pricing"}}Pricing{{/link-to}}
  </div>
{{/if}}
<div class="NavMenu-item NavMenu-item--right">
  <a href="https://blog.percy.io">Blog</a>
</div>
<div class="NavMenu-item NavMenu-item--right">
  {{#link-to "docs.index"}}Documentation{{/link-to}}
</div>
