{{#if user}}
  <div class="NavMenu-item">
    <a href="#" {{action "invalidateSession"}}>Logout</a>
  </div>
  <div class="NavMenu-avatar">
    {{user-avatar user=user width=36 linked=true}}
  </div>
{{else}}
  <div class="NavMenu-item">
    <a href="#">Pricing</a>
  </div>
  <div class="NavMenu-item">
    <a href="#">Blog</a>
  </div>
  <div class="NavMenu-item">
    <a href="#">About</a>
  </div>
  <div class="NavMenu-item">
    <a href="#">Sign In</a>
  </div>
{{/if}}