<div class="NavMenu-item">
  {{#link-to "faq"}}FAQ{{/link-to}}
</div>
<div class="NavMenu-item">
  {{#link-to "docs.index"}}Docs{{/link-to}}
</div>
<div class="NavMenu-item">
  <a href="https://blog.percy.io">Blog</a>
</div>
<div class="NavMenu-item">
  {{#link-to "about"}}About{{/link-to}}
</div>
{{#if user}}
  <div class="NavMenu-item">&nbsp;</div>
  <div class="NavMenu-item">
    {{#link-to 'namespace.index' session.secure.user.login}}My Repos{{/link-to}}
  </div>
  <div class="NavMenu-avatar">
    {{user-avatar user=user width=36 linked=true href='/account'}}
  </div>
{{else}}
  <div class="NavMenu-item">
    <a href="#" {{action "sessionRequiresAuthentication"}}>Sign In</a>
  </div>
{{/if}}