<div class="NavMenu-item">
  {{#link-to "faq"}}FAQ{{/link-to}}
</div>
<div class="NavMenu-item">
  {{#link-to "docs.index"}}Docs{{/link-to}}
</div>
<div class="NavMenu-item">
  <a href="#">Blog</a>
</div>
<div class="NavMenu-item">
  {{#link-to "about"}}About{{/link-to}}
</div>
{{#if user}}
  <div class="NavMenu-item">
    <a href="#" {{action "invalidateSession"}}>Logout</a>
  </div>
  <div class="NavMenu-avatar">
    {{user-avatar user=user width=36 linked=true}}
  </div>
{{else}}
  <div class="NavMenu-item">
    <a href="#" {{action "sessionRequiresAuthentication"}}>Sign In</a>
  </div>
{{/if}}