<button class="btn btn-md btn-primary w-full {{if isLoading "is-loading"}}" {{action "createPasswordChangeRequest"}} data-test-profile-password-change-request-button>
  Change Password
</button>
{{#if requestSent}}
  <div class="mt-2" data-test-profile-password-change-request-message>
    Please check your <strong>{{user.email}}</strong> email and click the password change link.
  </div>
{{/if}}
