<div class="row u-text-center">
  <div class="PricingSection-bucket PricingSection-bucket--free">
    <div class="PricingSection-title">Free plan</div>
    <div class="PricingSection-bucketBody">
      <div class="PricingSection-infoItem"><strong>250</strong> visual diffs per month</div>
      <div class="PricingSection-infoItem"><strong>2</strong> concurrent visual diffs</div>
      <div class="PricingSection-infoItem"><strong>2</strong> private repos</div>
      <div class="PricingSection-infoItem"><strong>1 week</strong> image storage</div>
      {{#unless session.isAuthenticated}}
        <br>
        {{login-button sessionRequiresAuthentication="sessionRequiresAuthentication"}}
      {{/unless}}
      <div><em>no credit card required</em></div>
    </div>
  </div>
</div>
