<div class="row">
  <div class="one-half column">
    <h5>What counts as a visual diff?</h5>
    <p>
      Each page snapshot counts as one visual diff.
    </p>
    <p>
      We include the full process—rendering the page, taking a screenshot, generating a pixel-by-pixel {{#link-to "docs.page" "learn/faq"}}visual diff{{/link-to}} compared to the last build, and storing the original images and diff images.
    </p>
    <h5>What are parallel workers?</h5>
    <p>
      To speed up your builds, we automatically render all pages in Percy's custom parallel rendering infrastructure. The number of workers is the number of visual diffs that will render simultaneously for your projects.
    </p>
    <h5>What happens if I exceed the limits?</h5>
    <p>
      Percy will stop accepting builds until your quota is reset (on the 1st of every month) or your plan is upgraded. Our client libraries safely handle quota errors, so your normal CI builds will be unaffected.
    </p>
  </div>
  <div class="one-half column">
    <h5>Are there any discounted plans available?</h5>
    <p>
      Yes, we offer yearly plans that give 2 months for free (an almost 20% discount). Please <a href="mailto:hello@percy.io">contact us</a> for yearly plans.
    </p>
    <h5>How easy is upgrading?</h5>
    <p>
      It's a single click, the new plan is immediately applied to your current builds.
    </p>
    <h5>Is upgrading prorated?</h5>
    <p>
      Yes, upgrading your plan is automatically prorated up to the next billing cycle.
    </p>
    <h5>When can I cancel my subscription?</h5>
    <p>
      You can cancel at any time. We do not offer refunds of the remaining billing period.
    </p>
  </div>
</div>
