<div class="row">
  <div class="PricingSection-bucket PricingSection-bucket--free">
    <div class="PricingSection-title">Free plan</div>
    <div class="PricingSection-bucketBody">
      <div class="PricingSection-infoItem"><strong>250</strong> visual diffs per month</div>
      <div class="PricingSection-infoItem"><strong>2</strong> private repos</div>
      <div class="PricingSection-infoItem"><strong>1 week</strong> image retention</div>
      {{! #launch add a sign in button }}
      <div><em>no credit card required</em></div>
    </div>
  </div>
</div>
