<div class="row">
  <div class="one-half column">
    <h5>What are concurrent visual diffs?</h5>
    <p>
      The number of visual diffs we will process at the same time.
    </p>
    <p>
      Each visual diff takes time to render the page, screenshot it, and then compute a pixel-by-pixel
      {{#link-to 'faq'}}visual diff{{/link-to}} of the screenshot to the last build.
    </p>
    <h5>How easy is it to upgrade?</h5>
    <p>
      In a single click! The updated plan limits are immediately applied to your current and future builds.
    </p>
    <h5>Is upgrading prorated?</h5>
    <p>
      Yes, upgrading your plan is automatically prorated up to the next billing cycle.
    </p>
  </div>
  <div class="one-half column">
    <h5>Are there any discounted plans available?</h5>
    <p>
      Yes, we offer yearly plans that give 2 months for free (an almost 20% discount). Please <a href="mailto:team@percy.io">contact us</a> for yearly plans.
    </p>
    <h5>When can I cancel my subscription?</h5>
    <p>
      Anytime! It is a simple one click. Note, we do not offer refunds of the remaining billing period.
    </p>
  </div>
</div>
