<div class="row">
  <div class="one-half column">
    <h5>What are concurrent visual diffs?</h5>
    <p>
      The number of visual diffs we will process at the same time.
    </p>
    <p>
      We count a "visual diff" as the full process, including rendering the page, taking a screenshot, and generating a pixel-by-pixel
      {{#link-to 'faq'}}visual diff{{/link-to}} compared to the last build.
    </p>
    <h5>How easy is it to upgrade?</h5>
    <p>
      In a single click! Upgrading to a new plan is immediately applied in realtime to your current builds.
    </p>
    <h5>Is upgrading prorated?</h5>
    <p>
      Yes, upgrading your plan is automatically prorated up to the next billing cycle.
    </p>
  </div>
  <div class="one-half column">
    <h5>Are there any discounted plans available?</h5>
    <p>
      Yes, we offer yearly plans that give 2 months for free (an almost 20% discount). Please <a href="mailto:team@percy.io">contact us</a> for yearly plans.
    </p>
    <h5>When can I cancel my subscription?</h5>
    <p>
      You can cancel at any time. We do not offer refunds of the remaining billing period.
    </p>
    <h5>What happens if I exceed the limits?</h5>
    <p>
      First, we will let you know if it looks like you might exceed the plan limits. If you do go over,
      the API will start rejecting new snapshots.
    </p>
  </div>
</div>
