<div class="row">
  <div class="one-half column">
    <h4>What is a snapshot?</h4>
    <p>
      Each full-page render and visual diff combined counts as a single snapshot.
    </p>
    <h4>What are concurrent renderers?</h4>
    <p>
      Percy is crafted to render your snapshots simultaneously in our custom parallel rendering infrastructure. The number of concurrent renderers is how many renderer processes are dedicated to your builds.
    </p>
    {{!--
    <h5>How many snapshots will my team use?</h5>
    <p>
    </p>
    --}}
    <h4>What happens if I exceed the limits?</h4>
    <p>
      Nothing! We simply charge a small fee for each extra snapshot over your monthly plan, but your builds and workflow will not be interrupted. Larger plans include significantly more snapshots and lower the fee for extra visual diffs.
    </p>
  </div>
  <div class="one-half column">
    <h4>How easy is upgrading?</h4>
    <p>
      It's a single click, the new plan is immediately applied to your current builds.
    </p>
    <h4>Is upgrading prorated?</h4>
    <p>
      Yes, upgrading your plan is automatically prorated up to the next billing cycle.
    </p>
    <h4>When can I cancel my subscription?</h4>
    <p>
      You can cancel at any time. We do not offer refunds of the remaining billing period.
    </p>
  </div>
</div>
