{{#link-to "organization.project.index" project.organization.slug project.slug classNames="ProjectCard-link"}}
  <span class="ProjectCard-title">
    {{fa-icon "chevron-right"}}
    {{project.name}}
    {{#if project.isDisabled}}
      <em>(disabled)</em>
    {{/if}}
  </span>
{{/link-to}}