<div class="container container--fixedWidth">
  <div class="container container--forContent">
    <div class="Card Card--extraPadded u-text-center">
      <h3>GitHub App processing...</h3>
      <p>
        {{fa-icon "fa-spinner fa-pulse"}}
        Waiting for GitHub to complete the installation.
      </p>
    </div>
  </div>
</div>
