{{#unless isDefaultExpanded}}
  <div class="Alert Alert--warning">
    <strong>Whew!</strong> There are too many snapshots to show all at once, so they
    are collapsed below. <strong>Tip:</strong> use the arrow keys <code>←</code> and <code>➞</code> to move around.
  </div>
{{/unless}}
{{#each computedSnapshots as |snapshot index|}}
  {{snapshot-viewer
    snapshot=snapshot
    buildContainerSelectedWidth=buildContainerSelectedWidth
    buildWidths=buildWidths
    listIndex=index
    isDefaultExpanded=isDefaultExpanded
    selectChild=(action 'selectChild')
    registerChild=(action 'registerChild')
    unregisterChild=(action 'unregisterChild')
    snapshotWidthChangeTriggered=snapshotWidthChangeTriggered
    build=build
    showSnapshotFullModalTriggered=showSnapshotFullModalTriggered
  }}
{{/each}}
{{#if hideNoDiffs}}
  <div class="HideNoDiffsPanel" {{action "toggleNoDiffSnapshots"}}>
    {{pluralize noDiffSnapshotsCount "unchanged snapshot"}} for all widths. <span>View all</span>
  </div>
{{/if}}
