{{snapshot-viewer-header
  fullscreen=false
  snapshot=snapshot
  buildWidths=buildWidths
  selectedWidth=snapshotSelectedWidth
  selectedComparison=selectedComparison
  hasComparisonAtSelectedWidth=hasComparisonAtSelectedWidth
  toggleViewMode=(action showSnapshotFullModalTriggered snapshot.id snapshotSelectedWidth)
  updateSelectedWidth=(action "updateSelectedWidth")
  createReview=(action createReview "approve" build)

  registerChild=(action "registerChild")
}}

{{#if isExpanded}}
  {{#if selectedComparison}}
    {{comparison-viewer
      comparison=selectedComparison
      snapshotSelectedWidth=snapshotSelectedWidth
      isDefaultExpanded=isDefaultExpanded
      showNoDiffSnapshot=showNoDiffSnapshot
      data-test-SnapshotViewer-comparison=true
    }}
  {{else}}
    <div class="p-2 text-center bg-gray-000 border-bottom border-gray-100" data-test-SnapshotViewer-noComparison>
      No snapshot taken at {{snapshotSelectedWidth}}px.
    </div>
  {{/if}}
{{/if}}
