<div class="container-xs animate-fade-in-up">
  <div class="bg-white rounded shadow-l p-4 text-center">
    <figure class="svg-container mb-2 animate-tada">
      {{inline-svg inlineSvgName class="mx"}}
    </figure>
    <h2 class="text-weight-regular f2 mb-2">{{mainText}}</h2>
    <p class="alt-p text-light">
      {{{secondaryText}}}
    </p>
    {{yield}}
  </div>
</div>