{{! Embed this here so we don't load it on every page. }}
<script src="https://checkout.stripe.com/checkout.js"></script>

<button {{action 'checkout'}} class="Button Button--primary">Purchase</button>
