{{user-avatar user=user width=36}}
{{#if showMenu}}
  <div class="PageClickOverlay"></div>
  <div class="UserMenu-arrow">{{fa-icon "caret-up"}}</div>
  <ul>
    <li>
      <a href="/profile">Profile</a>
    </li>
    <li {{action "logout"}}>Logout</li>
  </ul>
{{/if}}
