{{user-avatar user=user}}
{{#if showMenu}}
  <div class="PageClickOverlay"></div>
  <div class="UserMenu-arrow">{{fa-icon "caret-up"}}</div>
  <ul>
    <li {{action "logout"}}>Logout</li>
  </ul>
{{/if}}
