{{user-avatar user=user}}
{{#if showMenu}}
  <div class="PageClickOverlay"></div>
  <div class="UserMenu-arrow">{{fa-icon "caret-up"}}</div>
  <ul>
    <li>{{#link-to "settings.profile"}}Profile{{/link-to}}</li>
    <li><a href="#" {{action "logout"}}>Logout</a></li>
  </ul>
{{/if}}
