{{user-avatar user=user width=36}}
{{#if showMenu}}
  <div class="PageClickOverlay"></div>
  <div class="UserMenu-arrow">{{fa-icon "caret-up"}}</div>
  <ul>
    <li>{{#link-to "profile"}}Profile{{/link-to}}</li>
    <li {{action "logout"}}>Logout</li>
  </ul>
{{/if}}
