{{title "Create a new organization"}}
{{fixed-top-header}}
<div class="container container--forContent container--fixedWidth">
  <div class="u-pull-right"><strong>Step 1 of 2</strong></div>
  <h3>Welcome!</h3>
  <p>
    Let's start by creating a new organization to contain your projects. After setup, you can invite team members to join your organization.
  </p>
  <p>
    If your organization already has Percy set up, ask an administrator send you an invite.
  </p>
  {{forms/organization-new saveSuccess="organizationCreated" marketplaceListingPlanId=marketplaceListingPlanId}}
</div>
