<div class="container container--forContent container--fixedWidth">
  <h3>Welcome!</h3>
  <p>
    First thing you will need to do is create a Percy organization for creating projects and inviting users.
  </p>
  <hr>
  {{forms/organizations-new organizationCreated="organizationCreated"}}
  <p>
    You will be able to link to a GitHub organization in the next step.
  </p>
  <hr>
  <p>
    <strong>Does your organization already have a Percy account?</strong>
  </p>
  <p>
    -------------
  </p>
</div>