<div class="container container--forContent container--fixedWidth">
  <h3>Welcome!</h3>

  <p>
    First thing you will need to do is create a Percy organization for creating projects and inviting users.
  </p>

  <hr>

  <input type="text" placeholder="My org">
</div>