{{fixed-top-header}}
<div class="container container--forContent container--fixedWidth">
  <div class="u-pull-right"><strong>Step 1 of 2</strong></div>
  <h3>Welcome!</h3>
  <p>
    First thing you will need to do is create a Percy organization for projects and inviting users.
  </p>
  <p>
    You will be able to link to GitHub in the next step. If your organization already has Percy set up, just have an administrator send you an invite!
  </p>
  <hr>
  {{forms/organization-new saveSuccess="organizationCreated"}}
</div>