html {
  box-sizing: border-box;
}

/*
Make all elements from the DOM inherit from the parent box-sizing
Since `*` has a specificity of 0, it does not override the `html` value
making all elements inheriting from the root box-sizing value
See: css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
*/

*,
*::before,
*::after {
  box-sizing: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

body {
  font-family: var(--keratin-body-font);
  font-size: var(--keratin-body-font-size);
  line-height: var(--keratin-body-line-height);
  color: var(--keratin-body-text-color);
  background-color: var(--keratin-body-bg-color);
}

a {
  color: var(--link-color, var(--blue-500));
  text-decoration: none;
  transition: color 250ms;

  &:hover {
    color: var(--link-color, var(--blue-500)); /* In case there is a color altering class on a link for it's not hovered state */
    text-decoration: underline;
  }
}

a > code {
  color: var(--link-color, var(--blue-500));
  background: var(--link-background-color, var(--blue-000));
}

b,
strong {
  font-weight: var(--font-weight-strong, var(--keratin-font-weight-strong));
}

hr {
  height: 0;
  margin: 15px 0;
  background: transparent;
  border: 0;
  border-bottom: 1px solid var(--gray-100);
  overflow: hidden;
}

/* Remove most spacing between table cells. */
table {
  border-spacing: 0;
  border-collapse: collapse;
}

td,
th {
  padding: 0;
}

button {
  cursor: pointer;
  border-radius: 0; /* Remove border radius added by Chroma macOS */
}

svg:not(:root) {
  overflow: visible;
}

img {
  max-width: 100%;
}
