/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

/* Body text */

p {
  margin-top: 0;
  margin-bottom: 10px;
}

small {
  font-size: 90%;
}

blockquote {
  margin: 0;
}

/* Lists */

ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

ol ol,
ul ol {
  list-style-type: lower-roman;
}

ul ul ol,
ul ol ol,
ol ul ol,
ol ol ol {
  list-style-type: lower-alpha;
}

dd {
  margin-left: 0;
}

/* Code */

code {
  padding: 0 var(--spacing-0);
  color: var(--code-bg-color, var(--keratin-body-text-color));
  white-space: nowrap;
  background: var(--code-bg-color, var(--gray-100));
  border-radius: var(--keratin-border-radius);
}

code,
kbd,
pre,
samp {
  margin-top: 0;
  margin-bottom: 0;
  font-family: var(--keratin-monospace-font);
  font-size: calc(var(--keratin-body-font-size) - 4px);
  letter-spacing: 0.5px;
}

pre > code {
  display: block;
  padding: var(--spacing-1);
  white-space: pre;
}
