<form action="javascript:;">
  <div class="u-clear-floats">
    {{form-fields/input
        property="billingEmail"
        title="Billing email (for payment receipts)"
        changeset=changeset
        validateProperty=(action "validateProperty" changeset "billingEmail")
    }}
    {{form-fields/submit
      value="Save"
      classes="Button"
      isSaving=isSaving
      isSaveSuccessful=isSaveSuccessful
      submit=(action "save")
    }}
  </div>
</form>