<form action="javascript:;">
  {{form-fields/input
      property="name"
      title="Organization name"
      changeset=changeset
      validateProperty=(action "validateProperty" changeset "name")
      autofocus=true
      placeholder="Acme Co."
  }}
  {{form-fields/submit value="Create Organization" classes="Button Button--primary" submit=(action "save")}}
</form>