<form action="javascript:;">
  {{#unless isCurrentUser}}
    {{form-fields/checkbox
        property="role"
        uncheckedValue="member"
        checkedValue="admin"
        title="Administrator"
        changeset=changeset
        validateProperty=(action "validateProperty" changeset "role")
    }}
    <p>
      Allow this user to edit organization details, billing information, and invite new members.
    </p>
  {{/unless}}
  <div class="u-text-right">
    {{saving-indicator isSaving=isSaving isSaveSuccessful=isSaveSuccessful classes="u-pull-left"}}
    {{form-fields/submit
      value=deleteText
      classes="Button"
      showSavingIndicator=false
      confirmationMessage="Are you sure? This user will lose all access to the organization."
      submit=(action "delete")
    }}
    {{#unless isCurrentUser}}
      {{form-fields/submit
        value="Save"
        classes="Button Button--primary"
        showSavingIndicator=false
        submit=(action "save")
      }}
    {{/unless}}
  </div>
</form>