<form action="javascript:;">
  <h2 class="f1 text-weight-regular">Profile</h2>

  {{form-fields/input
    property="name"
    title="Name"
    changeset=changeset
    validateProperty=(action "validateProperty" changeset "name")
    data-test-profile-edit-name=true
  }}
  {{form-fields/input
    property="email"
    title="Email"
    changeset=changeset
    validateProperty=(action "validateProperty" changeset "email")
    data-test-profile-edit-email=true
  }}

  {{#if user.unverifiedEmail}}
    <div class="mb-3" data-test-profile-edit-unverified-email-message>
      Please check your <strong>{{user.unverifiedEmail}}</strong> email and click the verification link to complete this change.
    </div>
  {{/if}}

  {{form-fields/submit
    value="Save"
    classes="btn btn-md btn-primary"
    isSaving=isSaving
    isSaveSuccessful=isSaveSuccessful
    submit=(action "save")
    disabled=changeset.isPristine
    data-test-profile-edit-submit=true
  }}
</form>
