<p>
  Projects are how we group related builds in Percy. Usually, you'll want to use the name of your repository or the name of your site.
</p>
<form action="javascript:;">
  {{form-fields/input
      property="name"
      title="Project name"
      changeset=changeset
      validateProperty=(action "validateProperty" changeset "name")
      autofocus=true
      placeholder="widgets-web-app"
  }}
  {{form-fields/submit value="Create Project" classes="Button--primary" submit=(action "save")}}
</form>