<div class="container-sm">
  <section class="form-section mb-4">
    {{forms/profile-edit
      user=model
    }}
  </section>

  <section class="form-section">
    <label>
      <span class="label-body">Password</span>
      <div>
        <button type="button" class="btn btn-md btn-primary w-full" {{action "showResetPasswordModal"}}>Reset Password</button>
      </div>
    </label>
  </section>
</div>
