<div class="Panel">
  {{owner-list repos=model.repos currentOwner=model.owner selectOwner="selectOwner"}}
</div>
<div class="container container--forContent container--withPanel">
  <h5>Repositories</h5>
  {{repo-list repos=model.repos filterByOwner=model.owner}}
  {{login-extended-button classes="u-pull-right"}}
</div>
