<div class="Header Header--small">
  {{#link-to "owner.index" "fotinakis" class="Button u-pull-right"}}
    Apps
  {{/link-to}}
  <div class="Header-logo">
    {{#link-to "index"}}
      <img src="/images/percy.svg" height="50">
    {{/link-to}}
  </div>
</div>
<div class="Panel">
  <strong>Accounts</strong>
  <div class="AccountCard AccountCard--linked AccountCard--active">
    <div><a href="#">fotinakis</a></div>
    <div>Last updated: today</div>
    <div class="AccountCard-arrow"></div>
  </div>
  <div class="AccountCard AccountCard--linked">
    <div><a href="#">perceptual-ci</a></div>
    <div>Last updated: yesterday</div>
  </div>
</div>
<div class="container container--withPanel">
  <h4>Repositories</h4>
  <p>Enable a repository below to get started:</p>
  <table class="u-full-width">
    <tr>
      <th>Repository</th>
      <th></th>
    </tr>
    <tr>
      <td>{{#link-to "repo.index" "fotinakis" "foo"}}perceptual-ui{{/link-to}}</td>
      <td>{{#link-to "repo.index" "fotinakis" "foo" class="Button Button--primary u-pull-right"}}Disable{{/link-to}}</td>
    </tr>
    {{#each repo in repos}}
      <tr>
        <td>{{#link-to "repo.index" repo.ownerLogin repo.name}}{{repo.name}}{{/link-to}}</td>
        <td>{{#link-to "repo.index" repo.ownerLogin repo.name class="Button u-pull-right"}}Enable{{/link-to}}</td>
      </tr>
    {{/each}}
  </table>
</div>
