<h2>CI services</h2>
<p>Percy automatically supports the following CI services:</p>
<img src="/images/cis.png">
<ul>
  <li>Travis CI</li>
  <li>Circle CI</li>
  <li>Jenkins</li>
  <li>Codeship</li>
  <li>Drone</li>
  <li>Semaphore<sup style="color: red">new</sup></li>
</ul>
<p><strong>If you're using one of these services, you're done!</strong></p>
<p>If you're using a different service, Percy will probably still work just fine. We can easily add support for the missing pieces.</p>
<hr>
<p>
  The low-level {{#link-to "apidocs.client"}}Percy::Client{{/link-to}} automatically discovers if it's running in one of these environments and reads the current branch name, Git commit SHA and metadata, repository name, and GitHub Pull Request (if any). No setup required.
</p>
<p>
  You can see the code for this in the <code><a href="https://github.com/percy/percy-client/blob/master/lib/percy/client/environment.rb">percy/client/environment.rb</a></code> file. If you don't see your favorite CI service in the above list, please <a href="mailto:hello@percy.io">contact us</a> or send us a PR to add support to the environment file.
</p>
<h3>Environment variables</h3>
<p>
  You can override the environment discovery behaviors by setting any of these environment variables:
</p>
{{render "apidocs/env-vars"}}
<h4>Authentication setup</h4>
<p>
  Most CI services allow you to set secure environment variables in your build settings (for example, see <a href="http://docs.travis-ci.com/user/environment-variables/#Defining-Variables-in-Repository-Settings">Travis CI Environment Variables</a>). You should set the <code>PERCY_TOKEN</code> environment variable in your CI settings instead of storing it in your repository.
</p>