<h1>Font services</h1>
<p>
  Percy supports rendering pages that rely on third-party web typography services.
</p>
<p>
  If you use a <strong>free font service</strong> like Google Fonts, everything should just work.
</p>
<p>
  If you use a <strong>subscription web font service</strong> (like TypeKit, Fontdeck, Cloud.typography, etc.), you may have to add Percy to your list of allowed hosts. The hostname to add is: <code>proxyme.percy.io</code>
</p>
