<h2>Parallel test suites</h2>
<p>
  Percy has built-in support for complex test suites that run in parallelized CI services or parallel test runners.
</p>
<p>
  Percy is <strong>designed to support <em>any</em> parallelized test environment</strong> with only two simple parameters. Snapshots are pushed from your tests to Percy and grouped in the same Percy build, no matter if your tests are run in different processes or even on different machines.
</p>
<p>
  If you currently see multiple Percy builds created incorrectly each time your tests run (with different snapshots in each build), this article is for you.
</p>

<h3>Usage</h3>
<p>
  Depending on your CI service, you may need to do some simple configuration to support parallel tests.
</p>
<ul>
  <li><strong>Automatically supported</strong> when using the Percy client libraries:</li>
  <ul>
    <li>Circle CI parallelism (<a href="https://circleci.com/docs/setting-up-parallelism">docs</a>)</li>
    <li>Travis CI parallel builds (<a href="http://docs.travis-ci.com/user/speeding-up-the-build/#Parallelizing-your-builds-across-virtual-machines">docs</a>)</li>
  </ul>
  <li><strong>Manual configuration:</strong></li>
  <ul>
    <li>parallel_tests gem (<a href="https://github.com/grosser/parallel_tests">github</a>)</li>
    <li>Codeship ParallelCI (<a href="https://codeship.com/documentation/continuous-integration/parallelci/">docs</a>)</li>
    <li>Jenkins, Drone, others</li>
  </ul>
</ul>
<h4>Manual configuration with environment variables</h4>
<p>
  Two environment variables must be configured to support parallel test suites: a <a href="https://en.wikipedia.org/wiki/Cryptographic_nonce">nonce</a>, and the total number of parallel nodes.
</p>
<ul>
  <li><code>PERCY_PARALLEL_NONCE</code>: A unique identifier for this build. This can be anything, but it must be the same across parallel build nodes. Usually this is just the CI build number or a shared timestamp.</li>
  <li><code>PERCY_PARALLEL_TOTAL</code>: The total number of parallel build nodes.</li>
</ul>
<p>
  These are the only variables needed for Percy to correctly support your parallelized test suite.
</p>
<h4>Example: parallel_tests gem</h4>
<p>
  For example, if you are using the <a href="https://github.com/grosser/parallel_tests">parallel_tests gem</a> with RSpec, you may run your tests like this:
</p>
{{#code-block lang="bash"}}
$ rake parallel:spec[4]
4 processes for 100 specs, ~ 25 specs per process
...
{{/code-block}}
<p>
  We can modify this to export the two environment variables:
</p>
{{#code-block lang="bash"}}
$ export PERCY_PARALLEL_NONCE=`date +%s`
$ export PERCY_PARALLEL_TOTAL=4
$ rake parallel:spec[4]
4 processes for 100 specs, ~ 25 specs per process
...
{{/code-block}}
<p>
  Or, all on one line:
</p>
{{#code-block lang="bash"}}
$ PERCY_PARALLEL_NONCE=`date +%s` PERCY_PARALLEL_TOTAL=4 rake parallel:spec[4]
{{/code-block}}
<p>
  In this example, we use <code>date +%s</code> to generate a Unix timestamp to use as the parallel nonce. As long as different test runs never start at the exact same second, this will work nicely as an identifier for this build across all four parallel processes.
</p>
<h3>How it works</h3>
<p>
  Parallelism is a common way to speed up test suites by running multiple tests concurrently and then combining results at the end.
</p>
<p>
  However, supporting parallel tests in a visual CI service is complex—unlike traditional CI services, different builds in Percy influence each other by design. Snapshots rendered in one build might become the new base for visual diffs in a later build. Because of this, we must ensure that all snapshots from your test suite are grouped correctly in a single Percy build.
</p>
<p>
  Percy's API provides a simple mechanism to associate snapshots to the same Percy build, no matter if the snapshots are pushed from different processes or even different machines. Two params are needed: a "parallel nonce" (any unique identifier for the build) and the total number of build nodes. Having a <a href="https://en.wikipedia.org/wiki/Cryptographic_nonce">nonce</a> that is shared across build nodes lets us link together snapshots created in different processes to the same Percy build. The client sends both of these with every API call to create a build.
</p>
<p>
  On the server-side, we use a transaction to coordinate between all the parallel API calls and only create one build per nonce. If a pending build has already been created for the given nonce, the build is simply returned to the client.
</p>
<p>
  To tell when a parallelized build is finished, we simply count the number of "finalize" API calls that have been received and only truly finalize the build when the count equals the total number of nodes we expect a response from. This lets us avoid many race conditions by design since we don't rely on when build nodes start or how long they run.
</p>
<p>
  With this mechanism, the client-side logic remains very simple and all the complexities of transactionality and coordination between nodes happens in our service.
</p>
<p>
  For more info, you can see the simple client-side logic for <code>parallel_nonce</code> and <code>parallel_total_shards</code> in the <code><a href="https://github.com/percy/percy-client/blob/master/lib/percy/client/environment.rb">percy/client/environment.rb</a></code> file.
</p>
