.Alert {
  padding: 10px;
  margin-bottom: 20px;
  border-top: 3px solid transparent;
  border-radius: 3px;

  &.Alert--info {
    background-color: $lightest-blue;
    border-color: $blue;
  }

  &.Alert--success {
    background-color: $lightest-green;
    border-color: $green;
  }

  &.Alert--warning {
    background-color: $lightest-yellow;
    border-color: $yellow;
  }

  &.Alert--error {
    background-color: $lightest-red;
    border-color: $red;
  }

  .CodeBlock:last-child pre,
  ul:last-child {
    margin-bottom: 0;
  }
}
