.Alert {
  padding: 10px;
  margin-bottom: 20px;
  border-top: 3px solid transparent;
  border-radius: 3px;

  &.Alert--info {
    background-color: var(--lightest-blue);
    border-color: var(--blue);
  }

  &.Alert--success {
    background-color: var(--lightest-green);
    border-color: var(--green);
  }

  &.Alert--warning {
    background-color: var(--lightest-yellow);
    border-color: var(--yellow);
  }

  &.Alert--error {
    background-color: var(--lightest-red);
    border-color: var(--red);
  }

  .CodeBlock:last-child pre,
  ul:last-child {
    margin-bottom: 0;
  }
}
