pre code {
  padding-left: 10px;
  background: var(--lightest-gray);
  border-left: 4px solid var(--lighter-gray);
  border-radius: 0;
}

a > code {
  color: var(--blue-500);
  background: var(--blue-000);
}
