/* stylelint-disable selector-max-compound-selectors, selector-max-specificity */

.DocsContainer {
  // Default fontsize for docs is set to 15px, since the whole point is to read things.
  font-size: $larger-font-size;
  line-height: 1.7;

  .DocsBody {
    code .dim {
      opacity: $dim-code-opacity;
    }

    h1 {
      margin-bottom: 0;
    }

    h1 + * {
      margin-top: 2rem;
    }

    h1 + h4 {
      margin-top: 0;
    }

    h2 {
      border-bottom: var(--lighter-gray-border);
    }

    h2,
    h3 {
      &:hover .DocsAnchor {
        visibility: visible;
      }
    }

    img {
      // Make images on docs page downsize responsive.
      max-width: 100%;
    }

    .DocsAnchor {
      font-size: 20px;
      cursor: pointer;
      visibility: hidden;
    }
  }

  .DocsNav {
    padding: 20px;
    background: var(--lightest-gray);
    border-right: var(--lighter-gray-border);

    h1 {
      margin-top: 2rem;
      margin-bottom: 1rem;
      font-family: $fancy-font;
      font-size: 2rem;
      font-weight: bold;
    }

    .DocsClientList {
      .DocsClientList-heading {
        margin-top: 1.4rem;
        margin-bottom: 0;
        font-family: $fancy-font;
        font-size: 1.6rem;
        font-weight: bold;
        color: var(--darker-gray);
      }

      ul {
        padding: 0;
        margin: 0;
        list-style: none;

        li {
          padding-left: 0.8em;
          text-indent: -0.7em;
        }

        li::before {
          content: "-";
          padding-right: 7px;
          color: var(--gray);
        }
      }
    }

    header:first-child {
      margin-top: 0;
    }

    ul {
      margin-top: 0;
      margin-bottom: 0;

      li {
        margin-bottom: 0;
        list-style: none;
      }

      a {
        text-decoration: none;
      }
    }

    .DocsNav-toggle {
      display: none;
    }
  }
}

@media (max-width: 750px) {
  .DocsContainer {
    .DocsNav {
      width: 100%;
      max-height: 100px;
      overflow: scroll;

      .DocsNav-toggle {
        display: block;
        float: right;
        cursor: pointer;
      }

      &.DocsNav--expanded {
        max-height: inherit;
      }
    }

    .DocsBody {
      padding: 20px;
    }
  }
}

@media (min-width: 751px) {
  .DocsContainer {
    display: flex;

    .DocsNav {
      float: left;
      width: 20%;
    }

    .DocsBody {
      float: left;
      width: 80%;
      padding: 40px;
    }
  }
}
