.main-footer {
  background: var(--white);
  box-shadow: inset 0 1px 0 0 var(--lightest-gray);
  grid-gap: $spacer * 2;
  grid-template-areas:
    "logos"
    "links-left"
    "links-right";

  @media screen and (min-width: $width-sm) {
    grid-gap: $spacer * 3;
    grid-template-areas:
      "logos      logos"
      "links-left links-right";
  }

  @media screen and (min-width: $width-md) {
    align-content: center;
    grid-template-areas: "links-left logos links-right";
  }
}

.main-footer-item {
  font-weight: 600;
  color: var(--light-text-color);
  transition: color 250ms;

  &:hover {
    color: var(--default-text-color);
  }
}

.main-footer-icons {
  grid-area: logos;
}

.main-footer-link-set-left {
  grid-area: links-left;
}

.main-footer-link-set-right {
  grid-area: links-right;
}
