/* stylelint-disable selector-no-qualifying-type */

.Form {
  width: 100%;

  textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 0;
  }

  input[type="checkbox"] {
    float: left;
    margin-top: 3px;
  }

  .Form-errors {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: bold;
    color: var(--red);
    list-style: none;

    li {
      margin-bottom: 0;
    }
  }
}

select {
  padding-right: 25px;
  appearance: none;
  background-image: url("/images/caret-down.svg");
  background-repeat: no-repeat;
  background-position: right center;

  &:hover {
    background-color: var(--lightest-gray);
    border: var(--light-gray-border);
  }
}

.form-control {
  display: block;
  width: 100%;
  padding: 8px 16px;
  font-size: 16px;
  line-height: 1.5;
  color: var(--default-text-color);
  background: var(--form-control-background);
  background-clip: padding-box;
  border: 1px solid var(--very-light-gray);
  border-radius: 4px;
  transition: border-color 250ms, box-shadow 250ms;

  &:focus,
  &:focus:active {
    border-color: var(--lightest-purple);
    box-shadow: 0 0 2px var(--lightest-purple);
  }
}

.alt-select {
  position: relative;
  height: auto;
  padding: 10px 32px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  background: var(--white);
  border: 1px solid transparent;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04), 0 1px 1px 0 rgba(0, 0, 0, 0.06);

  &:hover {
    background: var(--white);
    border: 1px solid transparent;
  }

  &:focus,
  &:focus:active {
    border: 1px solid transparent;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04), 0 1px 1px 0 rgba(0, 0, 0, 0.06);
  }
}

.select-dropdown {
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 16px;
    width: 10px;
    height: 6px;
    background-image: url("/images/icons/dropdown-icon.svg");
    background-repeat: no-repeat;
    transform: translateY(-50%);
  }

  &:hover {
    &::after {
      animation: up-down 500ms linear infinite;
    }
  }
}

@keyframes up-down {
  33% {
    transform: translateY(-30%);
  }

  66% {
    transform: translate3d(0, -70%, 0);
  }

  100% {
    transform: translate3d(0, -50%, 0);
  }
}
