.Header
  position: relative
  background-color: $dark-purple
  color: $white

  &.Header--large
    min-height: 520px
    text-align: center

    & h1
      margin-bottom: 1rem
      font-size: 7rem

    & h2
      font-size: $h3-font-size
      line-height: 1.5
      margin-bottom: 25px
      font-weight: 300

    .Header-logo
      margin-top: 35px
      width: auto
      height: 180px
      padding: 0

    .Alert--info
      max-width: 650px
      margin: 30px auto 40px auto
      font-size: 1.6rem

  .Header-logo
    width: 50px
    margin: 10px 5px 0 15px;

  .Header-title
    font-family: $fancy-font
    font-size: 2rem
    line-height: 4rem
    padding: 10px
    font-weight: 600

  .Header-trialBar
    color: $white
    background: $purple
    padding: 2px
    border-radius: 3px
    text-align: center
    position: absolute
    width: 235px
    top: 18px
    margin-left: auto
    left: 0
    right: 300px
    box-shadow: $base-shadow

    a
      text-decoration: underline
      font-weight: bold

  .Button
    color: $white
    box-shadow: $base-shadow

  &.Header--small
    height: 60px

  &.Header--fixedTop
    position: fixed
    right: 0
    left: 0
    z-index: 1000

  a
    color: $white
    text-decoration: none
  a:hover
    color: $lightest-purple

.HeaderSpacer
  height: 60px


@media (max-width: 550px)
  .Header
    .Header-trialBar
      display: none

    &.Header--large
      & h2
        font-size: 1.8rem

    &.Header--small
      .Header-title
        display: none
