/* stylelint-disable selector-max-specificity */

.Header {
  position: relative;
  height: 60px;
  padding: 0 15px;
  font-weight: var(--semibold);

  .Button {
    margin: 0;
  }

  &.Header--large {
    min-height: 520px;
    text-align: center;

    h1 {
      margin-bottom: 1rem;
      font-size: 7rem;
    }

    h2 {
      margin-bottom: 25px;
      font-size: $h3-font-size;
      font-weight: 300;
      line-height: 1.5;
    }

    .Alert--info {
      max-width: 650px;
      margin: 30px auto 40px;
      font-size: 1.6rem;
    }
  }

  .Header-title {
    padding: 10px 12px 10px 0;
    font-family: $standard-font;
    font-size: 2rem;
    font-weight: var(--semibold);
    line-height: 4rem;
  }

  a {
    text-decoration: none;
  }

  &.Header--light {
    background: var(--lightest-gray);
    border-bottom: 1px solid var(--lighter-gray);
  }

  &.Header--dark {
    color: var(--white);
    background-color: var(--dark-purple);

    select {
      color: var(--text-color);
      border: 0;
    }

    a:not(.Button) {
      color: var(--white);

      &:hover {
        color: var(--lightest-purple); // TODO need to class these header items to prevent the nesting specificity
      }
    }

    .Button {
      font-weight: bold;
      color: var(--white);
      background: var(--purple);
      border: 0;

      &:hover {
        background: var(--light-purple);
      }

      &:active {
        background-color: var(--purple);
      }
    }
  }
}

@media (max-width: 550px) {
  .Header {
    &.Header--large {
      h2 {
        font-size: 1.8rem;
      }
    }

    &.Header--small {
      .Header-title {
        display: none;
      }
    }
  }
}

.build-toolbar {
  height: var(--header-height);
}
