.container {
  &.container--marketing {
    // Default marketing font-size.
    font-size: 1.7rem;

    // Default marketing headers are bigger.
    h1 {
      font-size: 4.3rem;
    }

    h2 {
      padding-top: 20px;
      margin-bottom: 0;
      font-size: 3.3rem;
    }

    h3 {
      margin-bottom: 2.7rem;
      font-size: $h3-font-size;
    }

    h4 {
      margin-bottom: 2rem;
      font-size: 2rem;
    }

    h5 {
      font-size: 2.4rem;
    }

    h6 {
      font-size: 1.5rem;
    }

    h2,
    h3,
    h4 {
      text-align: center;
    }

    h2 + .row {
      margin-top: 3rem;
    }

    &.InviteContainer {
      padding: 20px;
      text-align: center;
    }

    &.MockPageContainer {
      border-bottom: var(--lighter-gray-border);
    }

    code {
      font-size: 1.2rem;

      .dim {
        opacity: $dim-code-opacity;
      }
    }

    sup {
      color: var(--purple);
    }

    .MarketingNumDiffs {
      margin-top: 40px;
      font-family: $standard-font;
    }

    button,
    .Button {
      box-shadow: $base-shadow;
    }

    .hljs {
      background: var(--white);
    }
  }

  &.TrustedByContainer {
    img {
      width: 100%;
      max-width: 960px;
    }
  }
}

.AboutContainer {
  h2 {
    padding-top: 20px;
    margin-bottom: 0;
    text-align: center;
  }

  h4 {
    margin-bottom: 0;
  }

  h5 {
    margin-bottom: 10px;
  }

  .AboutContainer-header {
    text-align: center;

    h1 {
      padding-top: 20px;
      margin-bottom: 0;
    }

    h2 {
      padding-top: 0;
      padding-bottom: 20px;
      font-size: 3rem;
    }

    iframe {
      margin-bottom: 20px;
    }

    img {
      width: 250px;
      padding: 20px;
    }

    a {
      margin-bottom: 20px;
    }
  }

  .AboutContainer-bio {
    margin-bottom: 50px;
  }

  .AboutContainer-avatar {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 30px auto;
    border-radius: 7px;
  }
}

.PulseCircle {
  position: absolute;
  width: 28px;
  height: 28px;
  border: 3px solid var(--dark-gray);
  border-radius: 30px;
  opacity: 0;
  z-index: 1000;
  animation: pulsate 2s ease-out;
  animation-iteration-count: infinite;
}

.PerformanceContainer {
  img {
    float: right;
    max-width: 55%;

    @media (max-width: 550px) {
      display: block;
      float: none;
      max-width: 35%;
      margin: 0 auto 20px;
    }
  }
}
