.container
  &.container--marketing
    // Default marketing font-size.
    font-size: 1.7rem

    // Default marketing headers are bigger.
    h1
      font-size: 4.3rem
    h2
      font-size: 3.3rem
      padding-top: 20px
      margin-bottom: 0
    h3
      font-size: $h3-font-size
      margin-bottom: 2.7rem
    h4
      font-size: 2.0rem
      margin-bottom: 2rem
    h5
      font-size: 2.4rem
    h6
      font-size: 1.5rem

    h2, h3, h4
      text-align: center

    h2 + div.row
      margin-top: 3rem

    &.InviteContainer
      padding: 20px
      text-align: center

    &.MockPageContainer
      border-bottom: $lighter-gray-border

    code
      font-size: 1.2rem
      span.dim
        opacity: $dim-code-opacity

    sup
      color: $purple

    .MarketingNumDiffs
      margin-top: 40px
      font-family: $fancy-font

    button,
    .Button
      box-shadow: $base-shadow

    .hljs
      background: $white

  &.TrustedByContainer
    img
      max-width: 960px
      width: 100%

.AboutContainer
  h2
    padding-top: 20px
    text-align: center
    margin-bottom: 0
  h4
    margin-bottom: 0
  h5
    margin-bottom: 10px

  .AboutContainer-header
    text-align: center

    h1
      padding-top: 20px
      margin-bottom: 0
    h2
      padding-top: 0
      padding-bottom: 20px
      font-size: 3rem
    iframe
      margin-bottom: 20px

    img
      width: 250px
      padding: 20px

    a
      margin-bottom: 20px

  .AboutContainer-bio
    margin-bottom: 50px

  .AboutContainer-avatar
    display: block
    margin: 30px auto 30px auto
    width: 100%
    max-width: 200px
    border-radius: 7px

.PulseCircle
  animation: pulsate 2s ease-out
  animation-iteration-count: infinite
  border: 3px solid $dark-gray
  border-radius: 30px
  height: 28px
  width: 28px
  position: absolute
  opacity: 0.0
  z-index: 1000

.PerformanceContainer
  img
    float: right
    max-width: 55%
    @media (max-width: 550px)
      max-width: 35%
      float: none
      display: block
      margin: 0 auto 20px auto
