&.container
  &.container--marketing
    h2
      font-weight: bold
      text-align: center
      margin-bottom: 0

    h3
      text-align: center
      margin-bottom: 3rem

    &.container--marketingDark
      background-color: $darkpurple
      color: $white

    &.container--marketingDarker
      background-color: $darkerpurple
      color: $white

    &.container--marketingLight
      background-color: $beige

    &.InviteContainer
      padding: 20px
      text-align: center

