.Panel
  width: 100%
  border: $grayborder
  border-radius: 4px

  & > .Panel-section
    padding: 10px

  .Panel-header
    width: 100%
    background-color: $lightergray
    border-bottom: $grayborder
    font-weight: bold
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

  .Panel-nav
    ul
      margin: 0
      padding: 0
      list-style: none
      li
        margin-bottom: 0

// TODO: remove me! #projectification launch.
.LegacyPanel
  background: #efefef

@media (min-width: 400px)
  .LegacyPanel
    width: 100%
    padding: 20px

@media (min-width: 550px)
  .LegacyPanel
    position: fixed
    overflow: scroll
    height: 100%
    width: 300px
    padding: 20px

