.c-pointer {
  cursor: pointer;
}

.is-invisible {
  visibility: hidden;
}

.is-hidden {
  display: none;
}

.alt-hr {
  margin: 0;
  border-top: 1px solid var(--lightest-gray);
}

.bg-purple-light {
  background: var(--bg-purple-light);
}

.shadow-l {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 8px 16px 0 rgba(0, 0, 0, 0.1);
}

.bg-purple-gradient {
  background: var(--purple-gradient);
}

.bg-purple-gradient-pattern {
  background: url("/images/pattern-on-purple.svg"), var(--purple-gradient);
}

.bg-white-pattern {
  background: url("/images/pattern-on-white.svg");
}

.z-top {
  z-index: 1;
}

.no-underline {
  text-decoration: none !important;
}
