.truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.c-pointer {
  cursor: pointer;
}

.flex-1 {
  flex: 1;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
  justify-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-content: center;
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.is-invisible {
  visibility: hidden;
}

.is-hidden {
  display: none;
}

.br {
  border-radius: var(--border-radius);
}

.w-full {
  width: 100%;
}

.bg-white {
  background: var(--white);
}

.shadow-l {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 8px 16px 0 rgba(0, 0, 0, 0.1);
}

.bg-purple-gradient {
  background: var(--purple-gradient);
}

.bg-purple-gradient-pattern {
  background: url("/images/pattern-on-purple.svg"), var(--purple-gradient);
}

.bg-white-pattern {
  background: url("/images/pattern-on-white.svg");
}

.bg-purple-light {
  background: var(--bg-purple-light);
}
