.truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: top;
  overflow: hidden;
}

// stylelint-disable value-no-vendor-prefix
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
// stylelint-enable value-no-vendor-prefix

.truncate-target {
  display: inline-block;
  max-width: 160px;
}

.c-pointer {
  cursor: pointer;
}

.flex-1 {
  flex: 1;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
  justify-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-content: center;
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.is-invisible {
  visibility: hidden;
}

.is-hidden {
  display: none;
}

.w-full {
  width: 100%;
}

.rounded {
  border-radius: var(--border-radius);
}

.rounded-left {
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.rounded-right {
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.bg-white {
  background: var(--white);
}

.alt-hr {
  margin: 0;
  border-top: 1px solid var(--lightest-gray);
}

.bg-purple-light {
  background: var(--bg-purple-light);
}

.shadow-l {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 8px 16px 0 rgba(0, 0, 0, 0.1);
}

.bg-purple-gradient {
  background: var(--purple-gradient);
}

.bg-purple-gradient-pattern {
  background: url("/images/pattern-on-purple.svg"), var(--purple-gradient);
}

.bg-white-pattern {
  background: url("/images/pattern-on-white.svg");
}

.opacity-1 {
  opacity: 1;
}

.opacity-75 {
  opacity: 0.75;
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-25 {
  opacity: 0.25;
}

.opacity-0 {
  opacity: 0;
}

.z-top {
  z-index: 1;
}

.no-underline {
  text-decoration: none !important;
}
