.LargeXIcon {
  display: block;
  font-size: 8rem;
  color: var(--lighter-gray);
  text-shadow: -1px 0 var(--gray), 0 1px var(--gray), 1px 0 var(--gray), 0 -1px var(--gray);
}

.Viewer-pdiffImageBox {
  position: relative;
  width: 100%;
  user-select: none;
  border: var(--very-light-gray-border);

  .pdiffImageOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.Viewer-pdiffImageBox--actionable {
  cursor: pointer;
  user-select: none;

  &:hover {
    border: var(--lighter-gray-border-hover);
  }
}

.Viewer-pdiffImageOverlay {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  user-select: none;
  background-color: rgb(255, 255, 255);
  opacity: 0.9;
}
