@charset "UTF-8";

@import
  "keratin/keratin",
  "keratin-config";

// Addons.
@import
  "ember-power-select",
  "ember-modal-dialog/ember-modal-structure";

@import
  "variables/colors",
  "variables/fonts",
  "variables/mixins",
  "variables/animations",
  "variables/shadows",
  "variables/code",
  "variables/layout",
  "variables/typography";

// Vendor styles
@import
  "vendor/skeleton",
  "vendor/auth0";

// Base components.
@import
  "base/base",
  "base/typography",
  "buttons",
  "cards",
  "forms",
  "flash_messages",
  "alerts";

@import "colors/colors";

@import
  "layout/container",
  "layout/responsive";

// Non-component styles.
@import
  "header",
  "footer",
  "marketing",
  "docs",
  "page_click_overlay",
  "code",
  "viewer",
  "utilities";

// Ember components.
@import
  "components/approval_button",
  "components/authenticated_header",
  "components/build_card",
  "components/build_comparison_info",
  "components/build_duration",
  "components/build_header",
  "components/build_info_dropdown",
  "components/build_overview",
  "components/build_overview_info",
  "components/build_overview_icon",
  "components/build_started",
  "components/build_state_badge",
  "components/build_toolbar",
  "components/build_container",
  "components/comparison_list",
  "components/comparison_switcher",
  "components/comparison_viewer",
  "components/comparison_viewer_full",
  "components/snapshot_viewer",
  "components/snapshot_viewer_full",
  "components/snapshot_list",
  "components/svg",
  "components/forms/billing_edit",
  "components/forms/organization_user_edit",
  "components/icons",
  "components/image_spacer",
  "components/label",
  "components/loading_page",
  "components/marketing_num_diffs",
  "components/mock_approval_flow",
  "components/mock_build_page",
  "components/note",
  "components/nav_menu",
  "components/organizations/billing_section",
  "components/organizations/github_bot_integrator",
  "components/organizations/github_integration",
  "components/organizations/github_settings",
  "components/organizations/jump_to_billing",
  "components/organizations/settings_nav_wrapper",
  "components/organizations/switcher_nav",
  "components/organizations/user_card",
  "components/pricing_section",
  "components/projects/diff_base_settings",
  "components/projects/github_integrator",
  "components/saving_indicator",
  "components/sidenav",
  "components/status_pill",
  "components/supported_cis_image",
  "components/sync_repos_section",
  "components/trial_bar",
  "components/user_avatar",
  "components/user_menu";

@import "pages/team";
