body {
  margin: 0;
  padding: 0;
}

// Margin and padding reset
html, body, div, object, iframe, div, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, form, select, input, legend, label, table, header, footer, nav, section, figure, dl, dd, input[type="checkbox"] {
  margin: 0;
  padding: 0;
}

// Make HTML5 elements display block for IE.
header, footer, nav, section, article, hgroup, figure {
  display: block;
}

// Border-Box
// http:/paulirish.com/2012/box-sizing-border-box-ftw/
*, *:before, *:after {
  box-sizing: border-box;
}

// Set default font family to sans-serif.
// Prevent iOS text size adjust after orientation change, without disabling.
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

// So we can define our own focus styles
a:active,
a:hover,
select,
input, {
  outline: 0;
}
