.bg-white { background: var(--white); }

.bg-gray-000 { background-color: var(--gray-000) !important; }
.bg-gray-100 { background-color: var(--gray-100) !important; }
.bg-gray-200 { background-color: var(--gray-200) !important; }
.bg-gray-300 { background-color: var(--gray-300) !important; }
.bg-gray-400 { background-color: var(--gray-400) !important; }
.bg-gray-500 { background-color: var(--gray-500) !important; }
.bg-gray-600 { background-color: var(--gray-600) !important; }
.bg-gray-700 { background-color: var(--gray-700) !important; }
.bg-gray-800 { background-color: var(--gray-800) !important; }
.bg-gray-900 { background-color: var(--gray-900) !important; }

.bg-purple-000 { background-color: var(--purple-000) !important; }
.bg-purple-100 { background-color: var(--purple-100) !important; }
.bg-purple-200 { background-color: var(--purple-200) !important; }
.bg-purple-300 { background-color: var(--purple-300) !important; }
.bg-purple-400 { background-color: var(--purple-400) !important; }
.bg-purple-500 { background-color: var(--purple-500) !important; }
.bg-purple-600 { background-color: var(--purple-600) !important; }
.bg-purple-700 { background-color: var(--purple-700) !important; }
.bg-purple-800 { background-color: var(--purple-800) !important; }
.bg-purple-900 { background-color: var(--purple-900) !important; }

.bg-green-000 { background-color: var(--green-000) !important; }
.bg-green-100 { background-color: var(--green-100) !important; }
.bg-green-200 { background-color: var(--green-200) !important; }
.bg-green-300 { background-color: var(--green-300) !important; }
.bg-green-400 { background-color: var(--green-400) !important; }
.bg-green-500 { background-color: var(--green-500) !important; }
.bg-green-600 { background-color: var(--green-600) !important; }
.bg-green-700 { background-color: var(--green-700) !important; }
.bg-green-800 { background-color: var(--green-800) !important; }
.bg-green-900 { background-color: var(--green-900) !important; }

.bg-blue-000 { background-color: var(--blue-000) !important; }
.bg-blue-100 { background-color: var(--blue-100) !important; }
.bg-blue-200 { background-color: var(--blue-200) !important; }
.bg-blue-300 { background-color: var(--blue-300) !important; }
.bg-blue-400 { background-color: var(--blue-400) !important; }
.bg-blue-500 { background-color: var(--blue-500) !important; }
.bg-blue-600 { background-color: var(--blue-600) !important; }
.bg-blue-700 { background-color: var(--blue-700) !important; }
.bg-blue-800 { background-color: var(--blue-800) !important; }
.bg-blue-900 { background-color: var(--blue-900) !important; }

.bg-red-000 { background-color: var(--red-000) !important; }
.bg-red-100 { background-color: var(--red-100) !important; }
.bg-red-200 { background-color: var(--red-200) !important; }
.bg-red-300 { background-color: var(--red-300) !important; }
.bg-red-400 { background-color: var(--red-400) !important; }
.bg-red-500 { background-color: var(--red-500) !important; }
.bg-red-600 { background-color: var(--red-600) !important; }
.bg-red-700 { background-color: var(--red-700) !important; }
.bg-red-800 { background-color: var(--red-800) !important; }
.bg-red-900 { background-color: var(--red-900) !important; }

.bg-yellow-000 { background-color: var(--yellow-000) !important; }
.bg-yellow-100 { background-color: var(--yellow-100) !important; }
.bg-yellow-200 { background-color: var(--yellow-200) !important; }
.bg-yellow-300 { background-color: var(--yellow-300) !important; }
.bg-yellow-400 { background-color: var(--yellow-400) !important; }
.bg-yellow-500 { background-color: var(--yellow-500) !important; }
.bg-yellow-600 { background-color: var(--yellow-600) !important; }
.bg-yellow-700 { background-color: var(--yellow-700) !important; }
.bg-yellow-800 { background-color: var(--yellow-800) !important; }
.bg-yellow-900 { background-color: var(--yellow-900) !important; }
