.border { border: 1px soild var(--keratin-default-border-color) !important; }
.border-top { border-top: 1px soild var(--keratin-default-border-color) !important; }
.border-right { border-right: 1px soild var(--keratin-default-border-color) !important; }
.border-bottom { border-bottom: 1px soild var(--keratin-default-border-color) !important; }
.border-left { border-left: 1px soild var(--keratin-default-border-color) !important; }

.border-0 { border: 0 !important; }
.border-top-0 { border-top: 0 !important; }
.border-right-0 { border-right: 0 !important; }
.border-bottom-0 { border-bottom: 0 !important; }
.border-left-0 { border-left: 0 !important; }

.border-gray-000 { border-color: var(--gray-000) !important; }
.border-gray-100 { border-color: var(--gray-100) !important; }
.border-gray-200 { border-color: var(--gray-200) !important; }
.border-gray-300 { border-color: var(--gray-300) !important; }
.border-gray-400 { border-color: var(--gray-400) !important; }
.border-gray-500 { border-color: var(--gray-500) !important; }
.border-gray-600 { border-color: var(--gray-600) !important; }
.border-gray-700 { border-color: var(--gray-700) !important; }
.border-gray-800 { border-color: var(--gray-800) !important; }
.border-gray-900 { border-color: var(--gray-900) !important; }

.border-purple-000 { border-color: var(--purple-000) !important; }
.border-purple-100 { border-color: var(--purple-100) !important; }
.border-purple-200 { border-color: var(--purple-200) !important; }
.border-purple-300 { border-color: var(--purple-300) !important; }
.border-purple-400 { border-color: var(--purple-400) !important; }
.border-purple-500 { border-color: var(--purple-500) !important; }
.border-purple-600 { border-color: var(--purple-600) !important; }
.border-purple-700 { border-color: var(--purple-700) !important; }
.border-purple-800 { border-color: var(--purple-800) !important; }
.border-purple-900 { border-color: var(--purple-900) !important; }

.border-green-000 { border-color: var(--green-000) !important; }
.border-green-100 { border-color: var(--green-100) !important; }
.border-green-200 { border-color: var(--green-200) !important; }
.border-green-300 { border-color: var(--green-300) !important; }
.border-green-400 { border-color: var(--green-400) !important; }
.border-green-500 { border-color: var(--green-500) !important; }
.border-green-600 { border-color: var(--green-600) !important; }
.border-green-700 { border-color: var(--green-700) !important; }
.border-green-800 { border-color: var(--green-800) !important; }
.border-green-900 { border-color: var(--green-900) !important; }

.border-blue-000 { border-color: var(--blue-000) !important; }
.border-blue-100 { border-color: var(--blue-100) !important; }
.border-blue-200 { border-color: var(--blue-200) !important; }
.border-blue-300 { border-color: var(--blue-300) !important; }
.border-blue-400 { border-color: var(--blue-400) !important; }
.border-blue-500 { border-color: var(--blue-500) !important; }
.border-blue-600 { border-color: var(--blue-600) !important; }
.border-blue-700 { border-color: var(--blue-700) !important; }
.border-blue-800 { border-color: var(--blue-800) !important; }
.border-blue-900 { border-color: var(--blue-900) !important; }

.border-red-000 { border-color: var(--red-000) !important; }
.border-red-100 { border-color: var(--red-100) !important; }
.border-red-200 { border-color: var(--red-200) !important; }
.border-red-300 { border-color: var(--red-300) !important; }
.border-red-400 { border-color: var(--red-400) !important; }
.border-red-500 { border-color: var(--red-500) !important; }
.border-red-600 { border-color: var(--red-600) !important; }
.border-red-700 { border-color: var(--red-700) !important; }
.border-red-800 { border-color: var(--red-800) !important; }
.border-red-900 { border-color: var(--red-900) !important; }

.border-yellow-000 { border-color: var(--yellow-000) !important; }
.border-yellow-100 { border-color: var(--yellow-100) !important; }
.border-yellow-200 { border-color: var(--yellow-200) !important; }
.border-yellow-300 { border-color: var(--yellow-300) !important; }
.border-yellow-400 { border-color: var(--yellow-400) !important; }
.border-yellow-500 { border-color: var(--yellow-500) !important; }
.border-yellow-600 { border-color: var(--yellow-600) !important; }
.border-yellow-700 { border-color: var(--yellow-700) !important; }
.border-yellow-800 { border-color: var(--yellow-800) !important; }
.border-yellow-900 { border-color: var(--yellow-900) !important; }
