.rounded { border-radius: var(--keratin-border-radius) !important; }
.rounded-circle { border-radius: 50% !important; }
.rounded-0 { border-radius: 0 !important; }

.rounded-top {
  border-top-left-radius: var(--keratin-border-radius) !important;
  border-top-right-radius: var(--keratin-border-radius) !important;
}

.rounded-right {
  border-top-right-radius: var(--keratin-border-radius) !important;
  border-bottom-right-radius: var(--keratin-border-radius) !important;
}

.rounded-bottom {
  border-bottom-right-radius: var(--keratin-border-radius) !important;
  border-bottom-left-radius: var(--keratin-border-radius) !important;
}

.rounded-left {
  border-top-left-radius: var(--keratin-border-radius) !important;
  border-bottom-left-radius: var(--keratin-border-radius) !important;
}
