.flex { display: flex !important; }
.flex-1 { flex: 1 !important; }
.flex-2 { flex: 2 !important; }
.flex-3 { flex: 3 !important; }
.flex-4 { flex: 4 !important; }
.flex-5 { flex: 5 !important; }

.justify-start { justify-content: flex-start !important; }
.justify-between { justify-content: space-between !important; }
.justify-around { justify-content: space-around !important; }
.justify-end { justify-content: flex-end !important; }

.justify-center {
  justify-content: center !important;
  justify-items: center !important;
}

.align-start { align-items: flex-start !important; }
.align-end { align-items: flex-end !important; }

.align-center {
  align-content: center !important;
  align-items: center !important;
}
