.f00 {
  font-size: var(--f00-size) !important;
}

.f0 {
  font-size: var(--f0-size) !important;
}

.f1 {
  font-size: var(--f1-size) !important;
}

.f2 {
  font-size: var(--f2-size) !important;
}

.f3 {
  font-size: var(--f3-size) !important;
}

.f4 {
  font-size: var(--f4-size) !important;
}

.f5 {
  font-size: var(--f5-size) !important;
}

.f6 {
  font-size: var(--f6-size) !important;
}
