.grid { display: grid !important; }
.gap-0 { grid-gap: 0 !important; }
.gap-1 { grid-gap: var(--spacer-1) !important; }
.gap-2 { grid-gap: var(--spacer-2) !important; }
.gap-3 { grid-gap: var(--spacer-3) !important; }
.gap-4 { grid-gap: var(--spacer-4) !important; }
.gap-5 { grid-gap: var(--spacer-5) !important; }

.col-2 {
  grid-template-columns: 1fr 1fr !important;
  @media screen and (max-width: 768px /* var(--width-md) */) {
    grid-template-columns: 1fr !important;
  }
}

.col-3 { grid-template-columns: repeat(3, 1fr) !important; }
.col-4 { grid-template-columns: repeat(4, 1fr) !important; }

.col-auto {
  grid-template-columns: auto;
  grid-auto-flow: column;
}
