.position-static { position: static !important; }
.position-relative { position: relative !important; }
.position-absolute { position: absolute !important; }
.position-fixed { position: fixed !important; }

// stylelint-disable value-no-vendor-prefix
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
// stylelint-enable value-no-vendor-prefix

.t-0 { top: 0 !important; }
.r-0 { right: 0 !important; }
.b-0 { bottom: 0 !important; }
.l-0 { left: 0 !important; }
