.is-pending {
  --status-color: var(--gray-100) !important;
  --status-text-color: var(--dark-text-color) !important;
  --status-background-color: var(--gray-000) !important;
}

.is-processing {
  --status-color: var(--gray-200) !important;
  --status-text-color: var(--dark-text-color) !important;
  --status-background-color: var(--gray-000) !important;
}

.is-unreviewed {
  --status-color: var(--purple-600) !important;
  --status-text-color: var(--purple-700) !important;
  --status-background-color: var(--purple-300) !important;
}

.is-approved {
  --status-color: var(--green-500) !important;
  --status-text-color: var(--green-500) !important;
  --status-background-color: var(--green-000) !important;
}

.is-unchanged {
  --status-color: var(--blue-500) !important;
  --status-text-color: var(--blue-500) !important;
  --status-background-color: var(--blue-000) !important;
}

.is-failed {
  --status-color: var(--red-500) !important;
  --status-text-color: var(--red-500) !important;
  --status-background-color: var(--red-000) !important;
}

.is-expired {
  --status-color: var(--gray-100) !important;
  --status-text-color: var(--light-text-color) !important;
  --status-background-color: var(--gray-100) !important;
}
