code,
kbd,
pre,
samp {
  font-family: $monospace-font;
  font-size: 1.3rem;
}

.alt-p {
  font-size: var(--f4-size);
}

.alt-a {
  padding: 2px 8px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 4px;
}

.text-mono {
  font-family: $monospace-font;
}

.text-weight-light {
  font-weight: 300;
}

.text-weight-regular {
  font-weight: 400;
}

.text-weight-semibold {
  font-weight: var(--bold);
}

.text-white {
  color: var(--white) !important;
}

.text-light {
  color: var(--light-text-color);
}

.text-center {
  text-align: center !important;
}

.f0,
.f1,
.f2,
.f3,
.f4,
.f5,
.f6 {
  -webkit-font-smoothing: antialiased;
  font-family: $standard-font;
}

.f00 {
  font-size: var(--f00-size);
}

.f0 {
  font-size: var(--f0-size);
}

.f1 {
  font-size: var(--f1-size);
}

.f2 {
  font-size: var(--f2-size);
}

.f3 {
  font-size: var(--f3-size);
}

.f4 {
  font-size: var(--f4-size);
}

.f5 {
  font-size: var(--f5-size);
}

.f6 {
  font-size: var(--f6-size);
}
