code,
kbd,
pre,
samp {
  font-family: $monospace-font;
  font-size: 1.3rem;
}

.text-sb {
  font-weight: 600;
}

.text-light {
  color: var(light-text-color);
}

.text-md {
  font-size: 16px;
}

.text-sm {
  font-size: 14px;
}
