body {
  -webkit-font-smoothing: antialiased;
}

code,
kbd,
pre,
samp {
  font-family: $monospace-font;
  font-size: var(--f6-size);
  letter-spacing: 0.5px;
}

code {
  padding: 0 var(--spacer-1);
  color: var(--text-color);
  white-space: nowrap;
  background: var(--gray-100);
  border-radius: var(--border-radius);
}

pre > code {
  display: block;
  padding: var(--spacer-1);
  white-space: pre;
}

strong {
  font-weight: var(--semibold);
}

a {
  color: var(--blue-500);
  text-decoration: none;

  &:hover {
    color: var(--blue-500);
    text-decoration: underline;
  }
}

.alt-p {
  font-size: var(--f4-size);
}

.alt-a {
  padding: 2px 8px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 4px;
}

.f00 {
  font-size: var(--f00-size) !important;
}

.f0 {
  font-size: var(--f0-size) !important;
}

.f1 {
  font-size: var(--f1-size) !important;
}

.f2 {
  font-size: var(--f2-size) !important;
}

.f3 {
  font-size: var(--f3-size) !important;
}

.f4 {
  font-size: var(--f4-size) !important;
}

.f5 {
  font-size: var(--f5-size) !important;
}

.f6 {
  font-size: var(--f6-size) !important;
}
