{{title "Completing GitHub Integration Setup"}}
{{fixed-top-header}}
<div class="container container--fixedWidth">
  <div class="container container--forContent">
    <div class="Card Card--extraPadded u-text-center">
      <h3>GitHub integration processing...</h3>
      <p>
        {{fa-icon "fa-spinner fa-pulse"}}
        Waiting for GitHub to complete the integration.
      </p>
    </div>
  </div>
</div>
{{main-footer}}
