.ProjectsDiffBaseSettings {
  .SavingIndicator {
    float: right;
    margin-top: 10px;
  }

  .ProjectsDiffBaseSettings-setting {
    padding: 10px;
    margin-bottom: 10px;
    @include Card;
    @include Card--linkable;

    .fa-arrow-right {
      position: absolute;
      top: 13px;
      color: $purple;
    }

    p {
      margin-left: 1.9rem;
    }

    .ProjectsDiffBaseSettings-title {
      margin-left: 1.9rem;
      font-size: 110%;
      font-weight: bold;
    }

    &.ProjectsDiffBaseSettings-setting--selected {
      @include Card--selected;
    }
  }
}
