.ApprovalButton
  font-size: 1.4rem
  text-transform: uppercase
  border: 0
  color: white
  background-color: $green
  text-shadow: 2px 2px 1px #487E02;

  &:hover,
  &.ApprovalButton--hover,
    background: #83C32F
    text-shadow: 2px 2px 1px #629D16;
    color: $white

  &.ApprovalButton--approved
    background-color: $percypurple
    text-shadow: 2px 2px 1px #8A3D9D;
    color: white
    border: 0
