$approved-text-shadow: 1px 1px 1px var(--dark-green);
$approved-background: var(--green);

.ApprovalButton {
  font-weight: 600;
  color: var(--white);
  text-transform: uppercase;
  background-color: $approved-background;
  border: 0;

  &.Button--withLeftIcon {
    padding: 0 15px 0 38px;
  }

  .fa--left {
    font-size: 2.3rem;
  }

  &:hover,
  &:focus,
  &.ApprovalButton--hover {
    color: var(--white);
    text-shadow: 1px 1px 1px var(--green);
    background: var(--light-green);
    border: 0;

    &:active {
      background: var(--green);
    }
  }

  &.ApprovalButton--approved {
    padding: 20px;
    cursor: default;

    &:hover,
    &:focus,
    &.ApprovalButton--hover {
      background-color: $approved-background;
    }

    span {
      display: none;
    }
  }
}
