.BuildState {
  display: inline-block;
  width: 155px;
  height: 40px;
  font-family: $standard-font;
  font-weight: lighter;
  background-color: var(--very-light-gray);
  border-radius: 4px;

  .BuildState-textAligner {
    display: flex;
    height: 40px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .BuildState-text {
    font-size: 85%;

    strong {
      font-size: $smaller-font-size;
      font-weight: normal;
    }
  }

  .BuildState-icon {
    float: left;
    width: 25px;
    height: 40px;
    padding-top: 11px;
    font-size: 1.7rem;
    line-height: 0;
    color: var(--white);
    text-align: center;
    border-radius: 4px 0 0 4px;
    box-shadow: inset 3px -7px 62px -30px rgba(0, 0, 0, 0.25);
  }

  &.BuildState--pending {
    .BuildState-icon {
      background-color: var(--dark-gray);
    }
  }

  &.BuildState--processing {
    .BuildState-icon {
      background-color: var(--lighter-green);
    }
  }

  &.BuildState--finished {
    background-color: var(--lightest-green);

    .BuildState-icon {
      background-color: var(--green);
    }
  }

  &.BuildState--hasDiffs {
    background-color: var(--light-yellow);

    .BuildState-icon {
      background-color: var(--yellow);
    }
  }

  &.BuildState--approved {
    background-color: var(--lightest-green);

    .BuildState-icon {
      background-color: var(--green);
    }
  }

  &.BuildState--failed {
    background-color: var(--lightest-red);

    .BuildState-icon {
      background-color: var(--red);
    }
  }

  &.BuildState--expired {
    .BuildState-icon {
      background-color: var(--dark-yellow);
    }
  }
}
