/* stylelint-disable selector-max-compound-selectors, selector-max-specificity */

.BuildToolbar {
  .NavMenu {
    .NavMenu-item {
      a:not(.Button) {
        padding: 0;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .Button--small {
      font-size: 1.4rem;
      font-weight: bold;
      background: none;
      border: 0;
    }
  }

  @media (max-width: 750px) {
    .NavMenu {
      .BuildToolbar-organization,
      .BuildToolbar-separator {
        display: none;
      }
    }
  }

  @media (max-width: 600px) {
    .NavMenu {
      .BuildToolbar-project {
        display: none;
      }
    }
  }

  @media (max-width: 365px) {
    .NavMenu {
      .Header-logo {
        display: none;
      }
    }
  }
}
