.BuildOverviewIcon {
  $icon-size: 22px;
  $icon-padding: 2px;

  display: inline-block;
  position: relative;
  width: $icon-size;
  height: $icon-size;
  padding: $icon-padding;
  vertical-align: text-bottom;
  background: $very-light-gray;
  border-radius: 3px;

  img {
    position: absolute;
    top: $icon-padding;
    left: $icon-padding;
    width: $icon-size - (2 * $icon-padding);
    height: $icon-size - (2 * $icon-padding);
    vertical-align: text-bottom;
  }
}
