.BuildStateBadge {
  padding: 3px 8px;
  font-weight: bold;
  color: white;
  border-radius: 3px;

  &.BuildStateBadge--pending {
    background-color: var(--dark-gray);
  }

  &.BuildStateBadge--processing {
    color: var(--dark-green);
    background-color: var(--lighter-green);
  }

  &.BuildStateBadge--finished {
    background-color: var(--green);

    &.BuildStateBadge--hasDiffs {
      color: var(--purple-800);
      background-color: var(--purple-300);
    }

    &.BuildStateBadge--approved {
      color: white;
      background-color: var(--green);
    }
  }

  &.BuildStateBadge--failed {
    background-color: var(--red);
  }

  &.BuildStateBadge--expired {
    background-color: var(--dark-yellow);
  }
}
