.build-card,
.build-list-header {
  display: grid;
  position: relative;
  grid-gap: var(--spacing-4);
  padding: 0 var(--spacing-3);

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -4px;
    width: 8px;
    height: 100%;
    background: var(--status-color, transparent);
    transition: transform 250ms;
  }

  @media screen and (min-width: $width-md) {
    grid-template-columns: 108px 4fr 180px 108px;
  }
}

.project-list-header {
  box-shadow: 0 1px 0 var(--gray-100);
}

// TODO add border bottom utility classes when created
.build-list-header {
  display: none;
  min-height: 1px;

  @media screen and (min-width: $width-md) {
    display: grid;
  }
}

.build-card {
  align-items: center;
  padding: var(--spacing-3) var(--spacing-4);
  border-bottom: 1px solid var(--gray-100);
  overflow: hidden;
  grid-template-areas:
    "build"
    "details"
    "diffs"
    "status";

  @media screen and (min-width: $width-md) {
    grid-template-areas: "build details diffs status";
  }

  &:hover {
    &::after {
      transform: translate3d(4px, 0, 0);
    }

    .status-pill {
      transform: scale(1.05);
    }
  }
}
