/* stylelint-disable selector-max-compound-selectors, value-no-vendor-prefix, property-no-vendor-prefix */

.BuildInfoDropdown-modal {
  width: calc(100% - 45px);
  max-width: 450px;
  padding: 20px;
  margin-top: 9px;
  margin-bottom: 100px;
  background: white;
  box-shadow: $modal-shadow;
  z-index: 1000000;

  .fa-caret-up {
    position: absolute;
    top: -14px;
    right: 18px;
    padding: 1px 5px 0;
    font-size: 4rem;
    line-height: 13px;
    color: white;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }

  .BuildStateBadge {
    float: right;
  }

  .BuildOverviewIcon {
    display: none;
  }

  .BuildOverviewInfo-prNumber {
    color: var(--dark-gray);
  }

  h3,
  h4 {
    margin-bottom: 5px;
    font-weight: bold;
  }

  h3 {
    font-size: 22px;
  }

  h4 {
    font-size: 18px;
  }

  hr {
    border: 0;
  }

  table {
    width: 100%;
    margin-bottom: 0;

    code,
    pre {
      white-space: pre-wrap;
    }

    tr {
      td {
        padding: 5px 10px 5px 0;
        word-break: break-all;
        vertical-align: top;
        border-bottom: 1px solid var(--very-light-gray);

        pre {
          margin: 0;
        }
      }

      td:first-child {
        width: 115px;
        font-weight: bold;
      }

      &:last-child {
        td {
          border-bottom: 0;
        }
      }
    }

    .BuildInfoDropdown-fullWidthLabel {
      td {
        border: 0;
      }
    }

    .BuildInfoDropdown-fullWidthValue {
      td:first-child {
        padding-top: 0;
        font-weight: normal;
      }
    }

    .BuildInfoDropdown-commitMessage {
      display: -webkit-box;
      max-height: 70px;
      text-overflow: ellipsis;
      overflow: hidden;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }
}
