.BuildContainer {
  &.BuildContainer--snapshotModalOpen {
    display: none;
  }

  .BuildContainer-body {
    top: 58px;
    bottom: 0;
    -webkit-overflow-scrolling: touch;
    will-change: transform;
  }
}
