.BuildCard
  width: 100%
  padding: 10px 10px 0 0
  border-bottom: $grayborder
  cursor: pointer

  .BuildState
    margin-bottom: 8px

  h6
    font-size: 1.7rem

  &:hover
    background: $lightestgray

  &:first-child
    border-top: $grayborder
