.BuildHeader
  position: fixed
  padding: 40px
  width: 100%
  height: 100px
  box-sizing: border-box
  z-index: 800
  background: white
  border-bottom: $grayborder
  box-shadow: 0 6px 17px -8px $lightgray
  // overflow: hidden

  .BuildState
    margin-bottom: 1rem
