.BuildHeader {
  position: relative;
  margin: 20px 15px 15px;
}

.BuildOverview,
.BuildOverviewInfo {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 18px;
    font-weight: normal;
  }

  h1,
  h2 {
    margin: 0;
  }
}
