.ComparisonViewerFull
  text-align: center
  overflow-y: scroll

  img
    border: 1px solid #eaeaea
    box-shadow: 0px 0px 5px #dadada

  .Viewer-pdiffImageOverlay
    position: relative

  .Viewer-pdiffImageBox
    border: none
