.ComparisonModeSwitcher {
  font-weight: bold;
  color: $gray;

  .ComparisonModeSwitcher-switch {
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    font-size: 12px;
    color: $default-link;
    cursor: pointer;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;

    &.active,
    &:hover {
      border: $lighter-gray-border;
    }

    &:hover {
      background: $lightest-gray;
    }

    &.active {
      color: $default-link-hover;
      background: $white;
    }
  }
}

.ComparisonModeSwitcher--hidden {
  visibility: hidden;
}
