.ComparisonModeSwitcher
  color: $gray
  font-weight: bold

  .ComparisonModeSwitcher-switch
    cursor: pointer
    display: inline-block
    border-radius: 3px
    padding: 5px
    margin: 0 5px
    font-size: 12px
    cursor: pointer

    &:hover, &.active
      background: #DADADA

.ComparisonModeSwitcher--hidden
  visibility: hidden
