.ComparisonViewerFull {
  text-align: center;

  img {
    border: var(--very-light-gray-border);
  }

  .Viewer-pdiffImageOverlay {
    position: relative;
  }

  .Viewer-pdiffImageBox {
    border: 0;
  }
}
