.ComparisonSwitcher {
  display: flex;

  .ComparisonSwitcherItem--noComparison {
    color: var(--gray);
  }

  .ComparisonSwitcherItem {
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;

    &.ComparisonSwitcherItem--selected,
    &:hover {
      border: var(--lighter-gray-border);
    }

    &:hover {
      background: var(--lightest-gray);
    }

    &.ComparisonSwitcherItem--selected {
      color: var(--default-link-hover);
      background: var(--white);
    }

    &.ComparisonSwitcherItem--hasDiffs {
      color: var(--red);
    }
  }
}
