.CommitInfo
  max-width: 100%
  box-sizing: border-box
  display: inline-flex
  flex-direction: column

  .fa
    font-size: 1.7rem
    line-height: 2rem
    color: $default-text-color

  .CommitInfo-author
    padding-left: 3px

  .CommitInfo-branch
    text-overflow: ellipsis
    float: left
    display: inline-block
    line-height: 1rem
    overflow: hidden
    white-space: nowrap
    font-weight: bold
    max-width: 100%
    line-height: 2rem
    box-sizing: border-box

  .CommitInfo-commit
    float: left
    font-family: $monospace-font
    font-size: 90%

  .CommitInfo-message
    color: $gray
    float: left
    display: inline-block
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    font-style: italic
    max-width: 100%
