:root {
  --label-background: #f6f0f7;
  --label-text-color: #a161c1;
}

.label-container {
  font-size: 0;

  > .label {
    margin-right: 4px;
    margin-bottom: 4px;
  }
}

.label {
  display: inline-block;
  padding: 1px 8px;
  font-family: $monospace-font;
  font-size: 11px;
  color: var(--label-text-color);
  text-transform: lowercase;
  background: var(--label-background);
  border-radius: 4px;
}
