.MockApprovalFlow {
  position: relative;
  margin-top: 20px;

  .MockApprovalFlow-window {
    position: relative;
    float: right;
    width: 100%;
    max-width: 417px;
    height: 270px;

    img {
      width: 100%;
    }
  }

  .MockApprovalFlow-github {
    width: 100%;
    max-width: 470px;
    margin-top: 70px;
  }
}

.MockApprovalButton {
  position: absolute;
  top: 58%;
  right: 11%;
}

@media (max-width: 750px) {
  .MockApprovalFlow {
    .MockApprovalFlow-window {
      float: none;
      margin: 0 auto;
      border-bottom: var(--lighter-gray-border);
    }

    .MockApprovalFlow-github {
      padding: 20px;
      margin-top: 0;
    }
  }
}
