.MockPage
  position: relative
  max-width: 1200px
  margin: 0 auto
  img
    width: 100%
    cursor: pointer

  .hint--always:before
    border-right-color: #414141

  .hint--always:after
    text-align: left
    // Allow &#10; newlines in data attr.
    white-space: pre
    background-color: #414141
    line-height: 1.5rem

  .MockPage-note1
    position: absolute
    top: 45%
    right: 27%
    z-index: 100

  .MockPage-note2
    position: absolute
    top: 57%
    right: 30.5%
    z-index: 100

  .MockPage-note3
    position: absolute
    top: 76%
    right: 22%
    z-index: 100
