.NavMenu
  position: absolute
  right: 0

  .NavMenu-item
    line-height: 4rem
    float: left
    display: inline-block
    padding: 10px 17px
    letter-spacing: 0.1rem

    font-family: $fancy-font
    color: #555
    font-size: 13px
    font-weight: 600
    // line-height: 38px
    // letter-spacing: .1rem
    text-transform: uppercase


  .NavMenu-avatar
    padding: 10px 10px
    float: right

@media (max-width: 750px)
  .NavMenu
    .NavMenu-item
      padding: 10px 5px