.NavMenu {
  $nav-item-spacing: 7px;

  .NavMenu-item {
    display: inline-block;
    float: left;
    padding: 10px $nav-item-spacing;

    a {
      padding: 0 5px;
    }
  }

  .NavMenu-item-title {
    font-size: 16px;
  }

  .NavMenu-item--text {
    line-height: 4rem;
  }

  .NavMenu-item--right {
    float: right;
  }

  .NavMenu-item--right:last-child {
    margin-right: -$nav-item-spacing;
  }

  .NavMenu-item--left:first-child {
    margin-left: -$nav-item-spacing;
  }

  .NavMenu-avatar {
    float: right;
    padding-top: 11px;
    padding-left: $nav-item-spacing + 5px;
  }
}
