.PricingSection
  .PricingSection-bucket
    box-sizing: border-box
    width: 24.5%
    float: left
    padding: 20px

  .PricingSection-bucket--active
    background-color: #fffbdf

  .PricingSection-price
    font-size: 20px
    color: $darkgray
    strong
      font-size: 30px
      color: $default-text-color

  .PricingSection-concurrency
    padding: 20px 0 20px 0

    input
      margin-bottom: 0

  .PricingSection-diffs
    font-size: 20px
    padding-bottom: 20px

