/* stylelint-disable selector-max-specificity */

.PricingSection {
  padding-top: 20px;
  // Reset font-size for homepage.
  padding-bottom: 20px;
  font-size: $smaller-font-size;

  .hint::before,
  .hint::after {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }

  .PricingBucket {
    display: inline-block;
    position: relative;
    width: 240px;
    min-height: 350px;
    margin-bottom: 20px;
    font-size: 110%;
    vertical-align: top;
    background-color: var(--white);

    &:last-of-type {
      margin-right: 0;
    }

    &.PricingBucket--promoted {
      padding-top: 0;
      border: 4px solid var(--purple);

      .PricingSection-title {
        &.PricingSection-title--small {
          margin-top: 0;
          color: var(--white);
          background-color: var(--purple);
        }
      }
    }

    &.PricingBucket--active {
      background-color: var(--lightest-gray);
    }

    &.PricingBucket--secondaryPlan {
      width: 100%;
      min-height: inherit;

      .PricingSection-title {
        &.PricingSection-title--small {
          margin-top: 0;
        }
      }
    }
  }

  .PricingSection-title {
    padding: 10px 5px;
    font-family: $standard-font;
    font-size: 2rem;
    text-align: center;
    background: var(--beige);

    &.PricingSection-title--small {
      padding: 9px;
      margin-top: 3px;
      font-size: 1.3rem;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  .PricingSection-price {
    padding-top: 20px;
    font-family: $standard-font;
    font-size: 2rem;
    color: var(--dark-gray);
    text-align: center;

    strong {
      font-size: 3.4rem;
      font-weight: normal;
      color: var(--text-color);
    }
  }

  .PricingSection-annualMonthlyPrice {
    color: var(--gray);
  }

  .PricingSection-numTeamMembers {
    font-weight: bold;
  }

  .PricingSection-numWorkers {
    font-weight: bold;
  }

  .PricingSection-concurrency {
    padding: 20px 0;

    input {
      margin-bottom: 0;
    }
  }

  .PricingSection-cta {
    position: absolute;
    top: 380px;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;

    a {
      margin-bottom: 0.75rem;
      font-size: 1.7rem;
    }
  }

  .PricingSection-diffs {
    padding-top: 10px;
  }

  .PricingSection-customized {
    padding-bottom: 20px;
    font-size: 20px;
  }

  .PricingSection-comparison {
    padding: 30px;
    font-size: 1.5rem;
  }

  .PricingSection-customizedInfo {
    padding-bottom: 20px;
  }

  .PricingSection-infoItem {
    color: var(--dark-gray);

    .fa-question-circle {
      color: var(--dark-purple);
    }
  }

  .Button--primary {
    font-size: 1.5rem;
  }
}

.PricingSection-specialPlan {
  display: flex;
  margin-top: 2.5rem;
}

@media (max-width: 550px) {
  .PricingSection {
    .PricingBucket {
      min-height: auto;
      padding-top: 0;
      padding-bottom: 30px;
      margin-top: 20px !important;
      border: var(--lighter-gray-border) !important;

      &.PricingBucket--promoted {
        .PricingSection-cta {
          display: none;
        }
      }

      .Button {
        display: none;
      }

      .hint::before,
      .hint::after {
        font-size: 1.2rem;
        line-height: 1.4rem;
      }
    }
  }
}
