.project-list-sidebar,
.project-container {
  transition: transform 250ms;
}

.project-container {
  min-height: calc(100vh - var(--header-height));
}

.project-list-sidebar {
  position: absolute;
  top: left;
  left: -280px;
  width: 280px;

  @media screen and (min-width: $width-lg) {
    position: sticky;

  }
}

@media screen and (max-width: $width-lg) {
  .sidebar-is-visible {
    overflow-x: hidden;

    .project-list-sidebar,
    .project-container {
      transform: translate3d(280px, 0, 0);
    }

    .project-container {
      min-width: var(--width-lg);
      height: 100vh;
      overflow: hidden;
    }

    .build-list {
      pointer-events: none;
      opacity: 0.5;
    }
  }
}
