.ProjectCard {
  .ProjectCard-link {
    display: block;
    padding: 10px;
    color: var(--default-text-color);
    text-overflow: ellipsis;
    background: var(--very-light-gray);
    overflow: hidden;
    @include Card;
    @include Card--linkable;

    &:hover {
      text-decoration: none;
      background: var(--lighter-gray);
      border: var(--lighter-gray-border);
    }

    .fa-github {
      font-size: 1.8rem;
    }
  }

  .fa-chevron-right {
    float: right;
    margin-top: 5px;
    color: var(--gray);
  }

  .ProjectCard-title {
    font-size: 2rem;
  }

  &.ProjectCard--disabled {
    .ProjectCard-link {
      color: var(--gray);
    }
  }
}
