.progress-bar,
.progress-bar-subtle {
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  transition: transform 3s ease-out;
  transform: translate3d(var(--progress-bar-width, -100%), 0, 0);
}

.progress-bar {
  height: 4px;
  background: linear-gradient(to right, var(--purple-600) 0%, var(--purple-800) 25%, var(--purple-600) 50%);
  animation: progress-bar 1s infinite ease-in;
}

.progress-bar-subtle {
  top: 0;
  background: var(--gray-000);
}
