.RepoDiffBaseSettings
  .RepoDiffBaseSettings-setting
    padding: 10px
    margin-bottom: 10px
    border: $grayborder
    position: relative
    max-width: 600px

    .fa-arrow-right
      color: $darkpurple
      position: absolute
      top: 13px

    p
      margin-left: 1.9rem

    .RepoDiffBaseSettings-title
      font-weight: bold
      margin-left: 1.9rem

    &.RepoDiffBaseSettings-setting--selected
      background: $lightestpurple
      border: 1px solid $darkpurple

    &:hover
      border: $grayborderhover
      cursor: pointer

