.SavingIndicator {
  padding-right: 10px;
  padding-left: 10px;

  .fa {
    font-size: 2rem;
  }

  .fa-check-circle {
    color: var(--green);
    opacity: 0;
    animation: fadeinout 5s ease;
  }

  .fa-times-circle {
    color: var(--red);
  }
}
