.sidenav {
  margin-bottom: 24px;
}

.sidenav-group:not(last-child) {
  margin-bottom: 24px;
}

.sidenav-header {
  margin-bottom: 8px;
  font-weight: 600;
  text-transform: capitalize;
}

.sidenav-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidenav-list-item {
  margin: 0;

  &:first-child {
    .sidenav-list-item-link {
      border-top: 1px solid var(--lightest-gray);
      border-radius: var(--border-radius) var(--border-radius) 0 0;
    }
  }

  &:last-child {
    .sidenav-list-item-link {
      border-radius: 0 0 var(--border-radius) var(--border-radius);
    }
  }
}

.sidenav-list-item-link {
  display: block;
  padding: 8px 16px;
  margin-bottom: 1px;
  color: var(--blue);
  background: var(--white);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04), 0 1px 1px 0 rgba(0, 0, 0, 0.06);
  transition: background 250ms;

  &:hover {
    color: var(--blue);
    text-decoration: none;
    background: #f5fafe;
  }

  &.active {
    font-weight: 600;
    color: var(--default-text-color);
    background: var(--lightest-gray);
  }
}
