.SnapshotViewer {
  transition: box-shadow 250ms;

  &.SnapshotViewer--actionable {
    cursor: pointer;

    &:hover .SnapshotViewer-header {
      border-color: var(--gray-200) !important;
    }
  }
}

.SnapshotViewer--focus {
  box-shadow: 0 1px 0 var(--gray-200), 0 -1px 0 var(--gray-200);
}

.SnapshotViewer-header {
  display: grid;
  top: 58px;
  grid-template-columns: 1fr auto;
  grid-gap: 32px;
  background: var(--lightest-gray);
  border-bottom: var(--lighter-gray-border);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;

  &.SnapshotViewer-header--actionable {
    &:hover {
      cursor: pointer;
      border: var(--gray-border-hover);
    }
  }
}

.SnapshotViewer-header-full {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
  grid-template-columns: 1fr auto 1fr;
}

.maximize-snapshot,
.minimize-snapshot {
  path {
    transition: transform 250ms cubic-bezier(0.68, -2.55, 0.265, 2.55);
  }

  &:hover {
    path:first-child {
      transform: translate3d(1px, -1px, 0);
    }

    path:last-child {
      transform: translate3d(-1px, 1px, 0);
    }
  }
}
