.SnapshotViewer
  position: relative
  background: $lightest-gray
  border-radius: 3px
  width: 100%
  margin-bottom: 10px
  border: $lightest-gray-border

  &:last-child
    margin-bottom: 0

  .SnapshotViewer-noComparison
    padding: 10px
    text-align: center
    width: 100%

  &.SnapshotViewer--collapsed
    margin-top: 0
    margin-bottom: 0
    // Hacky way to make inner borders overlap, plus the z-index in hover.
    margin-top: -1px

  &.SnapshotViewer--actionable
    cursor: pointer
    margin-bottom: 10px

    &:hover
      border: $lighter-gray-border-hover
      cursor: pointer

.SnapshotViewer--focus
  border: $lighter-gray-border

.SnapshotViewer-header
  display: flex
  justify-content: space-between
  border-top-left-radius: 2px
  border-top-right-radius: 2px
  height: 40px

  &.SnapshotViewer-header--actionable

    &:hover
      border: $gray-border-hover
      cursor: pointer

.SnapshotViewer-title
  margin-right: 30px

.SnapshotViewer-header-controls
  display: flex
