.SnapshotViewer {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  background: $lightest-gray;
  border: $lighter-gray-border;
  border-radius: 3px;

  &:last-child {
    margin-bottom: 0;
  }

  .SnapshotViewer-noComparison {
    width: 100%;
    padding: 10px;
    text-align: center;
  }

  &.SnapshotViewer--collapsed {
    margin-top: 0;
    // Hacky way to make inner borders overlap, plus the z-index in hover.
    margin-top: -1px;
    margin-bottom: 0;
  }

  &.SnapshotViewer--actionable {
    margin-bottom: 10px;
    cursor: pointer;

    &:hover {
      cursor: pointer;
      border: $lighter-gray-border-hover;
    }
  }
}

.SnapshotViewer--focus {
  border: $gray-border;
}

.SnapshotViewer-header {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 32px;
  background: $lightest-gray;
  border-bottom: $lighter-gray-border;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;

  &.SnapshotViewer-header--actionable {
    &:hover {
      cursor: pointer;
      border: $gray-border-hover;
    }
  }
}

.SnapshotViewer-header-full {
  position: fixed;
  width: 100vw;
  z-index: 1;
  grid-template-columns: 1fr auto 1fr;
}

.SnapshotViewer-header-controls {
  display: flex;
}

.maximize-snapshot {
  &:hover {
    path:first-child {
      transform: translate3d(1px, -1px, 0);
    }

    path:last-child {
      transform: translate3d(-1px, 1px, 0);
    }
  }
}

.minimize-snapshot {
  &:hover {
    path:first-child {
      transform: translate3d(1px, -1px, 0);
    }

    path:last-child {
      transform: translate3d(-1px, 1px, 0);
    }
  }
}
