/* stylelint-disable selector-max-compound-selectors, selector-max-specificity */

.SnapshotList {
  display: flex;
  width: 100%;
  padding: 0 15px 15px;
  flex-flow: row wrap;
  justify-content: space-between;

  .Alert {
    width: 100%;
  }

  &.SnapshotList--1col {
    .SnapshotViewer {
      width: 100%;
    }
  }

  &.SnapshotList--4col {
    .SnapshotViewer {
      width: 24.5%;
      transition: 1s ease-in-out;
      transition-property: width;

      .SnapshotViewer-snapshotMissing {
        .fa {
          font-size: 5rem;
          transition: 1s ease-in-out;
        }
      }
    }
  }

  .HideNoDiffsPanel {
    @include Card;
    @include Card--linkable;
    @include Card--expando;
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    text-align: center;

    &:hover span {
      color: var(--default-link-hover);
    }

    span {
      color: var(--default-link);
    }
  }
}
