.SnapshotViewer {
  &.SnapshotViewer--actionable {
    cursor: pointer;

    &:hover .SnapshotViewer-header {
      border-color: var(--gray-200) !important;
    }
  }
}

.SnapshotViewer--focus {
  border-top: var(--gray-border);
  border-bottom: var(--gray-border);
}

.SnapshotViewer-header {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 32px;
  background: var(--lightest-gray);
  border-bottom: var(--lighter-gray-border);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;

  &.SnapshotViewer-header--actionable {
    &:hover {
      cursor: pointer;
      border: var(--gray-border-hover);
    }
  }
}

.SnapshotViewer-header-full {
  position: fixed;
  width: 100vw;
  z-index: 1;
  grid-template-columns: 1fr auto 1fr;
}

.SnapshotViewer-header-controls {
  display: flex;
}

.maximize-snapshot {
  &:hover {
    path:first-child {
      transform: translate3d(1px, -1px, 0);
    }

    path:last-child {
      transform: translate3d(-1px, 1px, 0);
    }
  }
}

.minimize-snapshot {
  &:hover {
    path:first-child {
      transform: translate3d(1px, -1px, 0);
    }

    path:last-child {
      transform: translate3d(-1px, 1px, 0);
    }
  }
}
