.status-pill {
  --status-text-color: var(--text-color);
  --status-background-color: var(--gray-100);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-0) var(--spacing-2);
  font-size: var(--f6-size);
  font-weight: var(--semibold);
  color: var(--status-text-color);
  text-align: center;
  white-space: nowrap;
  background: var(--status-background-color);
  border-radius: 13px;
  transition: transform 250ms;
}
