.SyncReposSection {
  margin-top: 20px;
  margin-bottom: 20px;

  header {
    margin-bottom: 10px;
    cursor: pointer;

    .fa {
      float: left;
      margin: 2px 7px 0 5px;
      font-size: 1.6rem;
    }
  }

  &.SyncReposSection--collapsed {
    padding: 0;
    cursor: pointer;

    header {
      padding: 8px;
      margin-bottom: 0;
    }

    &:hover {
      border: var(--gray-border);
    }
  }

  .Button {
    display: inline-block;
  }

  .SyncReposSection-info {
    display: inline-block;
    font-size: 70%;
  }
}
