.trial-bar {
  --text-color: var(--text-color);
  --background-color: var(--very-light-gray);

  font-weight: 400;
  color: var(--text-color);
  background: var(--background-color);

  a {
    font-weight: 600;

    &:hover {
      text-decoration: underline;
    }
  }

  &.is-on-dark {
    --text-color: var(--white);
    --background-color: var(--darker-purple);
  }

  &.is-expired {
    --text-color: var(--white);
    --background-color: var(--red);

    a {
      color: var(--white);

      &:hover {
        color: var(--white) !important;
      }
    }
  }
}
