{{#if organization.isGithubIntegrated}}
  <p>
    You can link this project to a GitHub repository. This enables Percy commit statuses on GitHub Pull Requests.
  </p>
  <p>
    {{saving-indicator isSaving=isSaving isSaveSuccessful=isSaveSuccessful}}
    {{#power-select
      selected=project.repo
      searchField="slug"
      placeholder="Select GitHub repository..."
      renderInPlace=true
      matchTriggerWidth=false
      allowClear=true
      options=organization.repos
      onchange=(action "chooseRepo")
      as |repos|
    }}
      {{repos.slug}}
    {{/power-select}}
  </p>
{{else}}
  <div class="Alert Alert--info">
    <strong>Missing organization GitHub integration.</strong> Before you can link to a repository you must first {{#link-to "organizations.organization.settings" project.organization.slug}}install the Percy GitHub integration{{/link-to}} in your organanization.
  </div>
{{/if}}
