{{fixed-top-header useNewProjectsHeader=true currentOrganization=model.organization}}
<div class="container container--fixedWidth">
  <div class="container container--forContent">
    <h3>{{model.name}}</h3>
  </div>
</div>
{{main-footer}}