<div class="container container--fixedWidth container--forContent">
  <div class="row">
    <div class="twelve columns">
      <h2>Create a new project</h2>

      {{forms/project-new organization=model saveSuccess="projectCreated"}}
    </div>
  </div>
</div>
