<div class="Header Header--small">
  {{#link-to "repo.index" 'fotinakis' class="Button Header-loginButton u-pull-right u-full-width"}}
    Apps
  {{/link-to}}
  <div class="Header-logo">
    {{#link-to "index"}}
      <img src="/images/logo-medium.png" height="50">
    {{/link-to}}
  </div>
</div>
<div class="Panel">
</div>
<div class="container container--withPanel">
  <h4>fotinakis / foo</h4>
  <table class="u-full-width">
    <tr>
      <th>Build</th>
      <th>Message</th>
      <th>Commit</th>
      <th>Committer</th>
      <th>Status</th>
    </tr>
    <tr>
      <td>{{#link-to "builds.build" 'fotinakis' 'foo' 123}}Pull Request #121{{/link-to}}</a></td>
      <td>Initial commit of new fancy things
      <td>a2b33c1 (master)</td>
      <td><a href="#">Mike Fotinakis</a></td>
      <td>Last updated 1 min ago</td>
    </tr>
    <tr>
      <td>{{#link-to "builds.build" 'fotinakis' 'foo' 123}}Pull Request #123{{/link-to}}</a></td>
      <td>consolidated v2.0 spec support, added v2.0 spec links</td>
      <td>e947971 (refactor-branch)</td>
      <td><a href="#">Mike Fotinakis</a></td>
      <td>Last updated 1 min ago</td>
    </tr>
    <tr>
      <td>{{#link-to "builds.build" 'fotinakis' 'foo' 123}}Pull Request #122{{/link-to}}</a></td>
      <td>Make backwards compatible with ruby 1.9.3</td>
      <td>a123971 (master)</td>
      <td><a href="#">Mike Fotinakis</a></td>
      <td>Finished 10 min ago</td>
    </tr>
    <tr>
      <td>{{#link-to "builds.build" 'fotinakis' 'foo' 123}}Pull Request #121{{/link-to}}</a></td>
      <td>Initial commit of new fancy things
      <td>a2b33c1 (master)</td>
      <td><a href="#">Mike Fotinakis</a></td>
      <td>Finished 10 min ago</td>
    </tr>
    <tr>
      <td>{{#link-to "builds.build" 'fotinakis' 'foo' 123}}Pull Request #120{{/link-to}}</a></td>
      <td>Remove cruft and refactor blah blurgers.</td>
      <td>e947971 (master)</td>
      <td><a href="#">Mike Fotinakis</a></td>
      <td>Finished 10 min ago</td>
    </tr>
  </table>
</div>
