/* stylelint-disable selector-max-compound-selectors */

.OrganizationsBillingSection {
  .OrganizationsBillingSection-plan {
    @include Card;
    padding: 15px;

    &:not(.active) {
      border-bottom: 0;
    }

    .columns:first-of-type {
      font-family: $standard-font;
      font-size: 2rem;
    }

    &:last-of-type {
      margin-bottom: 20px;
      border-bottom: var(--lighter-gray-border);
    }

    .SavingIndicator {
      display: block;
      text-align: center;

      .fa {
        margin-top: 8px;
        font-size: 2.5rem;
      }
    }

    .Button {
      float: right;
      width: 140px;
      padding: 0 15px;
      margin-top: 3px;
    }
  }

  h3 span {
    display: inline-block;
    padding-left: 5px;
    font-size: 1.9rem;
    color: var(--gray);
  }

  .PricingBucket {
    width: 235px !important;
  }
}
