.OrganizationsGithubIntegration {
  @include Card;
  min-height: 9rem;
  padding-left: 9rem;
  margin-top: 10px;
  margin-bottom: 10px;

  header {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 2rem;
    font-weight: bold;
  }

  .OrganizationsGithubIntegration-leftAvatar {
    display: block;
    position: absolute;
    top: 15px;
    left: 15px;
    width: 58px;
    font-size: 6rem;
    color: $light-gray;
    border-radius: 4px;
  }

  .OrganizationsGithubIntegration-actions {
    float: right;
    padding-top: 15px;
  }
}
