/* stylelint-disable selector-no-qualifying-type */

.OrganizationsGithubSettings {
  label {
    cursor: pointer;
  }

  input[type="submit"] {
    margin-top: 10px;
  }

  form {
    margin-bottom: 0;
  }

  .Form-errors {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .OrganizationsGithubIntegrator {
    padding: 20px 0 15px 20px;
    margin: 0 0 21px 23px;
    border-left: var(--lighter-gray-border);
  }
}
