.OrganizationsJumpToBilling {
  position: absolute;
  top: 105px;
  left: calc(50% - 600px / 2);
  width: 600px;
  height: 332px;
  background: $dark-purple;
  border: 1px solid $dark-purple;
  border-radius: 4px;
  box-shadow: $base-shadow;
  z-index: 99;
  animation: fadein 0.5s ease;

  header {
    margin-top: 20px;
    font-size: 2rem;
    color: $white;
  }

  .ember-basic-dropdown {
    width: 90%;
    margin: 30px;
  }

  .ember-power-select-trigger {
    display: none;
  }

  .OrganizationsJumpToBilling-pageClickOverlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
  }
}
