<h1>Animation handling<sup style="color: red;">new!</sup></h1>

<p>A big challenge of visual regression testing is avoiding false-positive visual diffs.</p>

<p>False-positives can be caused by many variables (including system and hardware differences between browser environments), but are commonly caused by page animations.</p>

<p>For example, take this awesome pure-CSS animation:</p>

<p>
<iframe height="425" scrolling="no" src="//codepen.io/fotinakis/embed/xVXXpo/?height=425&theme-id=0&default-tab=result" frameborder="no" allowtransparency="true" allowfullscreen="true" style="width: 100%;"></iframe>
</p>

<p>If you captured a page with this animation multiple times, you would end up with noisy and false-positive visual diffs:</p>

<p><img src="/images/examples/animation-diffs.jpg"></p>

<p>Though fun to look at, this doesn’t really help us identify visual regressions!</p>

<h2>Automatic animation freezing in Percy</h2>

<p>Percy does a lot of work behind the scenes to make sure that pages are rendered consistently and deterministically. One of the things we do is freeze different kinds of animations that can cause false-positive visual diffs.</p>

<p><strong>Percy will automatically:</strong></p>

<ul>
  <li>Freeze animated GIFs on the first frame.</li>
  <li>Freeze most CSS <code>animation</code> and <code>transition</code> styles.</li>
</ul>

<p><img src="/images/examples/animation-no-diffs.jpg"></p>

<p>Much better!</p>

<p>Other than animations, Percy does other server-side tricks to create a consistent rendering environment and avoid other kinds of false-positives (such as font rendering differences, sub-pixel antialiasing, width and height changes, etc.)</p>

<h2>Manual jQuery animation handling</h2>

<p>Percy does not currently execute JavaScript in our rendering pipeline, but JavaScript is likely enabled in the browser that runs your acceptance tests locally or on CI. You might be unknowingly running jQuery animations in tests simply by using them in your app.</p>

<p>In addition to causing false-positives if the DOM is captured in the middle of animation, jQuery animations can also have the adverse effect of slowing down your acceptance tests—assertions might wait for animations to complete before an element exists on the page. <strong>Temporarily disabling jQuery animations might help speed up your acceptance tests, as well as will help Percy avoid capturing the DOM state while elements are still animating.</strong></p>

<p>You can set a jQuery config to disable animations:</p>

{{#code-block lang="javascript"}}
$.fx.off = true;
{{/code-block}}

<div class="Alert Alert--warning">
  <p>
    <strong>NOTE:</strong> You should only include this snippet in your testing environment!
  </p>
</div>

<p>As the <a href="https://api.jquery.com/jquery.fx.off/">jQuery docs</a> say: "When this property is set to <code>true</code> all animation methods will immediately set elements to their final state when called, rather than displaying an effect."</p>