<h1>Animation handling</h1>

<p>Percy does a lot of work behind the scenes to work around animations that can cause false-positive visual diffs.</p>

<p>For example, in our rendering pipeline we freeze animated GIFs on their first frame. We also prevent most CSS <code>transition</code> and <code>transition</code> styles from animating.
</p>