<h3>Capybara client</h3>

<p>For Ruby web frameworks that have</p>

<h4>Installation</h4>

<p>Add this line to your application's Gemfile:</p>
{{#code-block}}
gem 'percy-capybara'
{{/code-block}}

<p>And then execute:</p>

{{#code-block}}
$ bundle install
{{/code-block}}

<p>Or install it yourself as:</p>

{{#code-block}}
$ gem install percy-capybara
{{/code-block}}

<h4>Ruby Client</h4>