<h3>Welcome</h3>

<p>
  Welcome to Percy! We hope you're as excited about the world of visual diffing and continuous integration as we are.
</p>
<p>
  Please choose a technology to get started:
</p>
<ul>
  <li>{{#link-to "docs.capybara"}}Capybara{{/link-to}}</li>
  <li>{{#link-to "docs.ci"}}CI integration{{/link-to}}</li>
  <li>{{#link-to "docs.static"}}Static websites{{/link-to}}</li>
</ul>
<p>
  The tech above is "officially supported" but we look forward to incorporating more libraries and clients. See the {{#link-to "faq"}}FAQ{{/link-to}} and feel free to <a href="mailto:team@percy.io">contact us</a> to talk about integrating a different technology stack.
</p>