<h3>Welcome</h3>

Choose your technology to get started:

<ul>
<li>{{#link-to "docs.capybara"}}Capybara{{/link-to}}</li>
<li>{{#link-to "docs.static"}}Static websites{{/link-to}}</li>
<li>{{#link-to "docs.custom"}}Custom client{{/link-to}}</li>
</ul>