<h1>Getting started</h1>

<p>
  Welcome to Percy!
</p>
<p>
  Please choose your technology stack to get started:
</p>
<ul>
  <li>{{#link-to "docs.capybara"}}Capybara{{/link-to}}</li>
  <li>{{#link-to "docs.static"}}Static websites{{/link-to}}</li>
</ul>
<p>
  The integrations above are "officially supported" but we look forward to incorporating more libraries and clients for other languages and environments. See the {{#link-to "docs.faq"}}FAQ{{/link-to}} and feel free to <a href="mailto:hello@percy.io">contact us</a> to talk about integrating a different technology stack.
</p>