<h2>Static websites</h2>

<p>Coming soon!</p>

<p>
  In the meantime, here is a <a href="https://goo.gl/mvuY1S">simple Ruby script</a> that can upload a folder of static files. Make sure you have installed {{#link-to "apidocs.client"}}percy-client{{/link-to}}.
</p>