.grid {
  display: grid;
}

.gap-0 {
  grid-gap: $spacer;
}

.gap-1 {
  grid-gap: $spacer * 2;
}

.gap-2 {
  grid-gap: $spacer * 3;
}

.gap-3 {
  grid-gap: $spacer * 4;
}

.col-2 {
  grid-template-columns: 1fr;

  @media screen and (min-width: $width-md) {
    grid-template-columns: 1fr 1fr;
  }
}

.col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.col-4 {
  grid-template-columns: repeat(4, 1fr);
}

.col-auto {
  grid-template-columns: auto;
  grid-auto-flow: column;
}
