<ul>
  <li><code>PERCY_TOKEN</code>: The write-only token with access the repo. This will be used for all API requests.</li>
  <li><code>PERCY_BRANCH</code>: The branch the build is being run in, defaults to <code>master</code>.</li>
  <li><code>PERCY_COMMIT</code>: The commit to associate to the build.</li>
  <li><code>PERCY_REPO_SLUG</code>: The full repository slug, for example <code>percy/percy-client</code>.</li>
  <li><code>PERCY_PULL_REQUEST</code>: The pull request number, if any, to associate to the build.</li>
</ul>