<h2>API Reference</h2>

<div class="Alert Alert--warning">
  <p>
    <strong>Coming soon!</strong>
    Percy's API is based on the emerging <a href="http://jsonapi.org/">JSON API standard</a> which has only recently been finalized. We're waiting for a few more things to stabilize before committing to a public v1 API.
  </p>
  <p>In the meantime, check out the {{#link-to "apidocs.client"}}Ruby client{{/link-to}}.</p>
</div>
<p>
  Percy's API was built to accept HTML/CSS and assets, not screenshots themselves—we want to encourage an ecosystem of tools that can integrate Percy's screenshot rendering and visual diffing into web apps built in any language or framework. See the {{#link-to "faq"}}FAQ{{/link-to}} for more info.
</p>

