<h2>API Reference</h2>
<div class="Alert Alert--warning">
  <p>
    <strong>Coming soon!</strong>
    Percy's API is based on the emerging <a href="http://jsonapi.org/">JSON API standard</a> which has only recently been finalized. We're working on stabilizing our API before committing to a public v1 API.
  </p>
  <p>In the meantime, check out the {{#link-to "apidocs.client"}}Ruby client{{/link-to}} or send us feedback about how you plan to use the Percy API.</p>
</div>