{{#organizations/settings-nav-wrapper organization=model}}
  <h3>Settings</h3>

  {{#organizations/require-role role="admin" organization=model}}
    {{forms/organization-edit organization=model saveSuccess="organizationUpdated"}}

    <hr>
    <h4>GitHub Integration {{fa-icon "github"}}</h4>

    {{organizations/github-settings organization=model showSupport="showSupport"}}
  {{/organizations/require-role}}
{{/organizations/settings-nav-wrapper}}