{{title "Settings"}}
{{#organizations/settings-nav-wrapper organization=model}}
  <h3>Settings</h3>

  {{#organizations/require-role role="admin" organization=model}}
    {{forms/organization-edit organization=model saveSuccess="organizationUpdated"}}

    {{organizations/github-settings organization=model showSupport="showSupport"}}

    {{organizations/github-enterprise-settings organization=model showSupport="showSupport"}}
  {{/organizations/require-role}}
{{/organizations/settings-nav-wrapper}}