<div class="container container--fixedWidth container--forContent">
  <div class="row">
    <div class="three columns">
      <div class="Panel">
        <div class="Panel-header">
          {{model.name}}
        </div>
        <ul>
          <li>Settings</li>
          <li>Users</li>
          <li>Billing</li>
        </ul>
      </div>
    </div>
    <div class="nine columns">
      <div class="container container--forContent">
        <h3>Settings</h3>
      </div>
    </div>
  </div>
</div>