{{#organizations/settings-nav-wrapper organization=model}}
  <h3>Settings</h3>

  {{forms/organization-edit organization=model saveSuccess="organizationUpdated"}}

  <hr>
  <h3>GitHub Integration</h3>

  {{organizations/github-integrator organization=model showSupport="showSupport"}}
{{/organizations/settings-nav-wrapper}}