{{#link-to "organizations.organization.users.invite" model.slug classNames="Button Button--primary u-pull-right"}}
  Invite New Users
{{/link-to}}

<h3>Users</h3>

{{organizations/users-list organization=model}}