@import "color-system";

:root {
  --white: #fff;

  --keratin-body-text-color: var(--body-text-color, var(--gray-700));
  --keratin-body-alt-text-color: var(--body-alt-text-color, var(--gray-400));
  --keratin-body-bg-color: var(--body-bg-color, var(--white));

  --dark-text-color: var(--keratin-body-text-color);
  --light-text-color: var(--keratin-body-alt-text-color, var(--gray-300));

  --keratin-default-border-color: var(--default-border-color, var(--gray-100));
}
