:root {
  --gray-000: #fbfafc;
  --gray-100: #f0eef1;
  --gray-200: #e1dfe2;
  --gray-300: #a69fa8; /* text-light-color */
  --gray-400: #7c727f;
  --gray-500: #69616b;
  --gray-600: #544e56;
  --gray-700: #3f3a40; /* base-color */
  --gray-800: #2a272b;
  --gray-900: #151315;

  --purple-000: #fefcfe;
  --purple-100: #fdfafe;
  --purple-200: #fbf6fd;
  --purple-300: #f6edfa;
  --purple-400: #eedbf6;
  --purple-500: #d7b5e5;
  --purple-600: #985bbd;
  --purple-700: #7d3395;
  --purple-800: #5c007a; /* base-color primary-brand-color */
  --purple-900: #2c023f;

  --green-000: #edfaee;
  --green-100: #d9f4dc;
  --green-200: #bbecc2;
  --green-300: #99e3a2;
  --green-400: #6fd77c;
  --green-500: #43cb54; /* base-color */
  --green-600: #30b041;
  --green-700: #279035;
  --green-800: #1f702a;
  --green-900: #16501e;

  --blue-000: #ebf5fe;
  --blue-100: #c9e4f8;
  --blue-200: #a5d3f3;
  --blue-300: #81c1ef;
  --blue-400: #5dafea;
  --blue-500: #1d8ddb; /* base-color */
  --blue-600: #1773b5;
  --blue-700: #135c90;
  --blue-800: #0e456c;
  --blue-900: #092e48;

  --red-000: #fdeeed;
  --red-100: #f8cdc9;
  --red-200: #f4aca4;
  --red-300: #ef8b80;
  --red-400: #eb6a5c;
  --red-500: #e74e3e; /* base-color */
  --red-600: #da2e1b;
  --red-700: #b62616;
  --red-800: #911f12;
  --red-900: #6d170d;

  --yellow-000: #fffbeb;
  --yellow-100: #fff2c2;
  --yellow-200: #ffe999;
  --yellow-300: #ffe070;
  --yellow-400: #ffd542; /* base-color */
  --yellow-500: #ffce1f;
  --yellow-600: #f5c000;
  --yellow-700: #cca000;
  --yellow-800: #a38000;
  --yellow-900: #7a6000;
}
