:root {
  --keratin-base-spacing: var(--base-spacing, 8px);
  --keratin-border-radius: var(--border-radius, 4px);
  --grid-gutter: 8px;

  --spacing-0: calc(var(--spacing-1) / 2); /* 4px */
  --spacing-1: var(--keratin-base-spacing); /* 8px */
  --spacing-2: calc(var(--spacing-1) * 2); /* 16px */
  --spacing-3: calc(var(--spacing-1) * 3); /* 24px */
  --spacing-4: calc(var(--spacing-1) * 4); /* 32px */
  --spacing-5: calc(var(--spacing-1) * 5); /* 40px */
  --spacing-6: calc(var(--spacing-1) * 6); /* 48px */
  --spacing-7: calc(var(--spacing-1) * 7); /* 56px */
  --spacing-8: calc(var(--spacing-1) * 8); /* 64px */
  --spacing-9: calc(var(--spacing-1) * 9); /* 72px */

  --width-xs: 460px;
  --width-sm: 544px;
  --width-md: 768px;
  --width-lg: 1012px;
  --width-xl: 1280px;

  --container-xs: var(--width-xs);
  --container-sm: var(--width-sm);
  --container-md: var(--width-md);
  --container-lg: var(--width-lg);
  --container-xl: var(--width-xl);
}
