:root {
  --keratin-font: "Helvetica", sans-serif;
  --keratin-font-mono: "Consolas", Monaco;
  --keratin-body-font: var(--body-font, var(--keratin-font));
  --keratin-monospace-font: var(--monospace-font, var(--keratin-font-mono));
  --keratin-font-weight-semibold: 600;
  --keratin-font-weight-bold: 900;
  --keratin-font-weight-strong: 600;

  --keratin-body-font-size: var(--body-font-size, 16px);
  --keratin-body-line-height: var(--body-line-height, 1.5);

  --f00-size: calc(0.594vw * 8); /* 48px */
  --f0-size: calc(10px + 3vw); /* 40px */
  --f1-size: calc(22px + 1vw); /* 32px */
  --f2-size: calc(14px + 1vw); /* 24px */
  --f3-size: 20px;
  --f4-size: 16px;
  --f5-size: 14px;
  --f6-size: 12px;

  @media screen and (min-width: var(--width-lg)) {
    --f00-size: 48px;
    --f0-size: 40px;
    --f1-size: 32px;
    --f2-size: 24px;
  }
}
