// stylelint-disable selector-list-comma-newline-after

@keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
  }

  10%,
  50% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes pulsate {
  0% {
    opacity: 0;
    transform: scale(0.1, 0.1);
  }

  25% {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale(1.2, 1.2);
  }
}

@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.animate-tada {
  animation: tada 1.5s;
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translate3d(0, 60px, 0);
  }
}

.animate-fade-in-up {
  animation: fade-in-up 500ms;
}

@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translate3d(-60px, 0, 0);
  }
}

.animate-fade-in-right {
  animation: fade-in-right 500ms;
}

.transition-hover-container:hover {
  .transition-fade-in-right {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.transition-fade-in-right {
  opacity: 0;
  transition: opacity 250ms, transform 250ms;
  transform: translate3d(-30px, 0, 0);

  &:hover {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes rotate-360 {
  to {
    transform: rotate(-360deg);
  }
}

.animate-rotate-360 {
  animation: rotate-360 500ms linear infinite;
}
