$default-link: #1eaedb
$default-link-hover: #0fa0ce

$white: #fff
$lightgray: #f7f7f7
$gray: #808080
$darkgray: #696969

$lightpurple: #dcbee4
$darkpurple: #582a64

$red: #bd2c00
$green: #6cc644
$darkyellow: #CBA41D
$yellow: #cea61b
$lightyellow: #E5C143

$grayborder: 1px solid #d8d8d8
$grayborderhover: 1px solid #a0a0a0
