:root {
  --lightest-gray: #f7f7f7;
  --very-light-gray: #e9e9e9;
  --lighter-gray: #dbdbdb;
  --light-gray: #bbb;
  --gray: #aaa;
  --dark-gray: #888;
  --darker-gray: #666;
  --darkest-gray: #333;

  --lightest-purple: #c281d8;
  --light-purple: #ac3ed0;
  --purple: #9500c7;
  --dark-purple: #5c007b;
  --darker-purple: #490061;
  --darkest-purple: #2c003b;

  --lightest-red: #f5e0d9;
  --red: #d41f0f;

  --lightest-green: #deffc3;
  --lighter-green: #b7e196;
  --light-green: #68d400;
  --green: #4fa100;
  --dark-green: #295400;
  --darker-green: #1d3a00;

  --lightest-blue: #d5eeff;
  --lighter-blue: #a9cde6;
  --light-blue: #62ade1;
  --blue: #1e8ddb;
  --dark-blue: #155df2;

  --lightest-yellow: #fffbde;
  --lighter-yellow: #fff7c5;
  --light-yellow: #fff4ac;
  --yellow: #f0d800;
  --dark-yellow: #c2ae00;
  --darker-yellow: #756900;

  --beige: #f7f5f2;

  --base-border-width: 1px;
  --lightest-gray-border: var(--base-border-width) solid var(--lightest-gray);
  --very-light-gray-border: var(--base-border-width) solid var(--very-light-gray);
  --lighter-gray-border: var(--base-border-width) solid var(--lighter-gray);
  --light-gray-border: var(--base-border-width) solid var(--light-gray);
  --gray-border: var(--base-border-width) solid var(--gray);
  --gray-border-hover: var(--base-border-width) solid var(--dark-gray);
  --lighter-gray-border-hover: var(--base-border-width) solid #a0a0a0;
  --errorborder: var(--base-border-width) solid var(--red);

  --text-color: var(--gray-700);

  --default-link: var(--blue);
  --default-link-hover: var(--dark-blue);
  --on-dark-link: #fcf;
  --on-dark-link-hover: #fef;

  --bg-purple-light: #fcfafd;
  --form-control-background: #fdfdfd;

  --purple-gradient: linear-gradient(45deg, var(--purple-800) 0%, var(--purple-700) 100%);
  --green-gradient: linear-gradient(45deg, #43cb54 0%, #4fd960 100%);
  --red-gradient: linear-gradient(45deg, #e74e3e 0%, #f36c5e 100%);
  --yellow-gradient: linear-gradient(45deg, #ffd542 0%, #ffe178 100%);
  --light-gradient: linear-gradient(45deg, #fcfafd 0%, #fff 100%);
}

$blue: #1e8ddb;
$default-text-color: #333;
$red: #d41f0f;
