$standard-font: "proxima-nova", Helvetica, sans-serif;
$monospace-font: "source-code-pro", monospace;
$larger-font-size: 1.5rem;
$standard-font-size: 1.4rem;
$smaller-font-size: 1.3rem;
$h3-font-size: 2.5rem;

$line-height: 1.5;
$bold: 600;
