@media (min-width: 551px) {
  .u-show-if-mobile {
    display: none;
  }
}

@media (max-width: 550px) {
  .u-show-if-desktop {
    display: none;
  }
}

@mixin clearfix {
  content: "";
  display: table;
  clear: both;
}

@mixin Card {
  position: relative;
  padding: 10px;
  background: var(--lightest-gray);
  border: var(--lighter-gray-border);
}

@mixin Card--white {
  background: var(--white);
}

@mixin Card--linkable {
  &:hover {
    cursor: pointer;
    border: var(--lighter-gray-border-hover);
  }
}

@mixin Card--expando {
  background: var(--lightest-gray);
}

@mixin Card--selected {
  background: var(--very-light-gray);
  border: 1px solid var(--lighter-gray);
}

@mixin Card--extraPadded {
  padding: 40px;
}
