:root {
  --f00-size: calc(0.594vw * 8); // 48px
  --f0-size: calc(10px + 3vw); // 40px
  --f1-size: calc(22px + 1vw); // 32px
  --f2-size: calc(14px + 1vw); // 24px
  --f3-size: 20px;
  --f4-size: 16px;
  --f5-size: 14px;
  --f6-size: 12px;

  @media screen and (min-width: $width-lg) {
    --f00-size: 48px;
    --f0-size: 40px;
    --f1-size: 32px;
    --f2-size: 24px;
  }
}
