<div class="Header Header--small">
  {{#link-to "repos" class="Button Header-loginButton u-pull-right u-full-width"}}
    Apps
  {{/link-to}}
  <div class="Header-logo">
    {{#link-to "index"}}
      <img src="/images/logo-medium.png" height="50">
    {{/link-to}}
  </div>
</div>
<div class="Panel">
</div>
<div class="container container--withPanel">
  <h4>fotinakis / foo</h4>
  <table class="u-full-width">
    <tr>
      <th>Repository</th>
      <th></th>
    </tr>
    <tr>
      <td>foo</td>
      <td></td>
    </tr>
  </table>
</div>
