<div class="github-enterprise-settings mt-4" style="showWhenIntegrationEnabled">
{{#if isGithubEnterpriseIntegrated}}
<hr>
<h4>GitHub Enterprise Integration {{fa-icon "github"}}</h4>

  <span data-test-github-enterprise-settings-status>
    The GitHub Enterprise integration is installed. Please contact support to change any settings.
  </span>
{{/if}}
</div>
