<header>
  Choose your organization:
</header>
<div class="OrganizationsJumpToBilling-pageClickOverlay" {{action "hide"}}></div>
{{#power-select
    searchField="slug"
    placeholder="Select organization..."
    renderInPlace=true
    initiallyOpened=true
    close=(action "hide")
    matchTriggerWidth=false
    options=currentUser.organizations
    onchange=(action "chooseOrganization")
    as |organization|
    }}
    {{organization.name}}
{{/power-select}}