<div class="container container--fixedWidth container--forContent">
  <div class="row">
    <div class="three columns">
      <aside class="sidenav" data-test-sidenav>
        <section class="sidenav-group">
          <header class="sidenav-header">{{organization.name}}</header>
          <ul class="sidenav-list">
            <li class="sidenav-list-item">
              {{#link-to "organizations.organization.settings" organization.slug classNames="sidenav-list-item-link"}}Settings{{/link-to}}
            </li>
            <li class="sidenav-list-item">
              {{#link-to "organizations.organization.users" organization.slug classNames="sidenav-list-item-link"}}Users{{/link-to}}
            </li>
            <li class="sidenav-list-item">
              {{#link-to "organizations.organization.billing" organization.slug classNames="sidenav-list-item-link"}}Billing{{/link-to}}
            </li>
          </ul>
        </section>
        <section class="sidenav-group">
          <header class="sidenav-header">Project Settings</header>
          <ul class="sidenav-list" data-test-sidenav-list-projects>
            {{#each organization.projects as |project|}}
              <li class="sidenav-list-item">
                {{#link-to "organization.project.settings" organization.slug project.slug classNames="sidenav-list-item-link truncate"}}{{project.name}}{{/link-to}}
              </li>
            {{/each}}
            <li class="sidenav-list-item">
              {{#link-to "organizations.organization.projects.new" organization.slug classNames="sidenav-list-item-link text-weight-semibold"}}Start new project{{/link-to}}
            </li>
          </ul>
        </section>
      </aside>
    </div>
    <div class="nine columns">
      {{yield}}
    </div>
  </div>
</div>
