<div class="container container--fixedWidth container--forContent">
  <div class="row">
    <div class="three columns">
      <div class="Panel">
        <div class="Panel-section Panel-header">
          {{organization.name}}
        </div>
        <div class="Panel-nav">

          <ul>
            <li>
              {{#link-to "organizations.organization.settings" organization.slug classNames="Button Button--nav"}}
                Settings
              {{/link-to}}
            </li>
            <li>
              {{#link-to "organizations.organization.users" organization.slug classNames="Button Button--nav"}}
                Users
              {{/link-to}}
            </li>
            <li>
              {{#link-to "organizations.organization.billing" organization.slug classNames="Button Button--nav"}}
                Billing
              {{/link-to}}
            </li>
          </ul>
        </div>


      </div>

      <div class="Panel">
        <div class="Panel-section Panel-header">Project Settings</div>
        <div class="Panel-nav">
          <ul>
            {{#if organization.projects}}
              {{#each organization.projects as |project|}}
                <li>{{#link-to "organization.project.settings" organization.slug project.slug classNames="Button Button--nav"}}{{project.name}}{{/link-to}}</li>
              {{/each}}
            {{/if}}
            <li>{{#link-to "organizations.organization.projects.new" organization.slug classNames="Button Button--nav"}}Start new project{{/link-to}}</li>
          </ul>
        </div>

      </div>
    </div>

    <div class="nine columns">
      {{yield}}
    </div>
  </div>
</div>
