{{fixed-top-header}}
<div class="container container--fixedWidth container--forContent AboutContainer">
  <div class="AboutContainer-header">
    <div class="row">
      <div class="five columns">
        <img class="AboutContainer-logo" src="/images/percy.svg">
      </div>
      <div class="seven columns">
        <h1 class="alt">Percy</h1>
        <h2 class="alt">The Perceptual Porcupine</h2>
        <a href="https://twitter.com/percy_io" class="Button Button--onDark Button--withLeftIcon">
          {{fa-icon "twitter" classNames="fa--left"}}
          @percy_io
        </a>
        <a href="https://github.com/percy" class="Button Button--onDark Button--withLeftIcon">
          {{fa-icon "github" classNames="fa--left"}}
          Percy on GitHub
        </a>
      </div>
    </div>
  </div>
  <h2>About Us</h2>
  <h3 class="u-text-center">Percy was founded in 2015 with the goal of making continuous visual integration so simple and fast that it becomes a mainstream engineering practice.</h3>
  <h2>Contact</h2>
  <h3 class="u-text-center">
    <a href="mailto:hello@percy.io">hello@percy.io</a>
  </h3>
  <hr>
  <div class="row">
    <div class="three columns">
      <img class="AboutContainer-avatar" src="https://avatars.githubusercontent.com/u/75300">
    </div>
    <div class="nine columns">
      <h4>Mike Fotinakis</h4>
      <p>
        I've been breaking computers since I was 10 and learning how to fix them along the way. I've worked at Google as a software engineer on the global web team, helping build the distributed tools and platforms underlying all of Google's websites, and at <a href="https://www.scienceexchange.com/">Science Exchange</a>, learning the ins and outs of startup engineering. I founded Percy to help solve the hard problems of visual QA for as many engineering teams as possible.
      </p>
      <p>
        A big thank you to my talented advisors and friends for their continued support and thoughtful advice.
      </p>
      <p>
        Find me on:
        <a href="https://www.linkedin.com/in/fotinakis">LinkedIn</a>,
        <a href="https://github.com/fotinakis">GitHub</a>,
        and
        <a href="https://twitter.com/mikefotinakis">Twitter</a>.
      </p>
    </div>
  </div>
</div>
{{main-footer}}