{{fixed-top-header}}
<div class="container container--fixedWidth container--forContent AboutContainer">
  <div class="AboutContainer-header">
    <div class="row">
      <div class="five columns">
        <img class="AboutContainer-logo" src="/images/percy.svg">
      </div>
      <div class="seven columns">
        <h1 class="alt">Percy</h1>
        <h2 class="alt">The Perceptual Porcupine</h2>
        <a href="https://twitter.com/percy_io" class="Button Button--onDark Button--withLeftIcon">
          {{fa-icon icon="twitter" classNames="fa--left"}}
          Follow @percy_io
        </a>
      </div>
    </div>
  </div>
  <h2>About Us</h2>
  <h5 class="alt u-text-center">Percy was founded in 2015. Our mission is to make continuous visual integration so simple and fast that it becomes a mainstream engineering practice.</h5>
  <h2>Contact</h2>
  <h5 class="alt u-text-center">
    Please feel free to contact us at <a href="mailto:team@percy.io">team@percy.io</a>.
  </h5>
  <h2>Team</h2>
  <div class="row">
    <div class="three columns">
      <img class="AboutContainer-avatar" src="/images/team/mike.jpg">
    </div>
    <div class="nine columns">
      <h5>Mike Fotinakis</h5>
      <h6>Founder & CEO</h6>
      <p>
        I've been breaking computers since I was 10 and learning how to fix them along the way. I worked at Google from 2010 to 2013 as a web developer/software engineer on the global web team, helping build the distributed tools and platforms underlying all of Google's websites. From 2013 to 2015 I worked at <a href="https://www.scienceexchange.com/">Science Exchange</a>, learning the ins and outs of startup engineering. I founded Percy to help solve the hard problems of visual QA for as many engineering teams as possible.
      </p>
      <p>
        A big thank you to my talented advisors and friends for their continued support and thoughtful advice.
      </p>
      <p>
        You can find me on
        <a href="https://github.com/fotinakis">GitHub</a>,
        <a href="https://twitter.com/mikefotinakis">Twitter</a>,
        <a href="https://www.linkedin.com/in/fotinakis">LinkedIn</a>, and
        <a href="https://google.com/+mikefotinakis">Google+</a>.
      </p>
    </div>
  </div>
</div>
{{main-footer}}