<div class="Header" style="height: 400px; padding: 100px; text-align: center">
  <img class="Header-logo" src="/images/percy.svg" style="width: 200px; height: 200px">

  <h3>Percy is down for scheduled maintenance. We'll be back soon!</h3>
</div>