<div class="siteHeader section">
  <img src="https://mailchimp.com/assets/images/freddie.1421440618.svg" width="30" />
  Perceptual CI
</div>

<div class="section">
  <h1>Know when you break your website before your users do.</h1>
  {{link-to "Sign In" "login" class="button authButton"}}
</div>

{{outlet}}
