{{fixed-top-header}}
<div class="container DocsContainer">
   <div class="DocsNav">
    {{docs-renderer markdown=model.navMarkdown docsNavigate="docsNavigate"}}
  </div>
  <div class="DocsBody">
    {{outlet}}
  </div>
</div>
{{main-footer}}