{{fixed-top-header}}

<div class="container-full container-vh bg-white-pattern flex align-center justify-center">
  {{status-panel
    inlineSvgName="email-large-icon"
    mainText="Check your email"
    secondaryText="We've sent you a verification email.<br/><strong>Please click the link in the email to sign in.</strong>"
  }}
</div>

{{main-footer}}
