{{fixed-top-header}}
<div class="container container--fixedWidth container--forContent">
  <h2>FAQ</h2>

  <h5>How does all this work?</h5>
  <p>
    First, Percy renders a screenshot of the page you give and then visually compares it, pixel by pixel, to a previous screenshot. The output of this comparison creates a third image—this is the "visual diff" or "perceptual diff" that shows exactly what pixels changed between the images:
  </p>
  <p>
    <img style="width: 100%; max-width: 854px" src="/images/example-pdiff.png">
  </p>
  <h5>So, I upload screenshots?</h5>
  <p>
    <strong>Actually, no!</strong> You might be surprised to learn that under the hood, Percy was built to rely on "snapshots" of HTML pages and assets, not screenshots themselves. This is very intentional—we want to support visual continuous integration for all web content, regardless of the language or framework it was created in, and make it as fast as possible.
  </p>
  <h5>My tests are already slow—isn't this going to make them slower?</h5>
  <p>
    <strong>Actually, no!</strong> A intended side effect of our asset-centric design is that we keep all the computationally expensive screenshot rendering and visual diffing completely out of your systems. By relying on HTML and assets alone, we can highly optimize Percy to have very lightweight clients in numerous languages with little performance impact.
  </p>
  <h5>Do you support X language or X framework?</h5>
  <p>
    <strong>Short answer: yes!</strong> Though we have a set of "official" client libraries for Ruby web apps, our asset-centric design lets us support all web content, regardless of the language or framework it was created in. We want to encourage a developer ecosystem of tools that can easily integrate with Percy. See the {{#link-to "docs.index"}}documentation{{/link-to}} for more info.
  </p>
  <h5>Do you support cross-browser or responsive testing?</h5>
  <p>
    <strong>Not yet.</strong> But a side effect of our asset-centric design is that we can easily do this in the future. Right now, all screenshots are rendered in a modern browser (Firefox 38.0.1 ESR) at a width of 1280px.
  </p>
  <h5>Do you support mobile apps?</h5>
  <p>
    <strong>No</strong>, unless your app is built using HTML and CSS.
  </p>
  <h5>Do you require my repository to be on GitHub?</h5>
  <p>
    <strong>Yes, for now.</strong> However, this is not an absolute requirement and we may support other hosts in the future. Please <a href="mailto:team@percy.io">email us</a> if you have specific needs.
  </p>
  <h5>Do you require my code to be in Git?</h5>
  <p>
    <strong>Yes, for now.</strong> But you're already using git, right? Right?
  </p>
  <h5>My diffs are very noisy, is this broken?</h5>
  <p class="u-text-center">
    <img style="width: 100%; max-width: 430px" src="/images/noisy-pdiff.png">
  </p>
  <p>
    This is one of the hard parts of perceptual diffs—the diff itself is pixel-by-pixel, so if the content shifts by any amount the diff may end up looking like noise. You still get the benefits of knowing when and where your site has changed, but it may require more manual analysis. In Percy you can simply click the diff to hide it and view the underlying screenshot to compare visually. We are also working on ways to address this.
  </p>
</div>
{{main-footer}}