<div class="Header Header--large">
  <div class="Header-logo"><img src="/images/logo-medium.png"></div>
  <h1>Perceptual CI</h1>
  <h2>Visual regression testing for web applications</h2>
  {{#link-to "owner.index" "fotinakis" class="Button Button--withLeftIcon Header-loginButton u-full-width"}}
    {{unbound fa-icon "github" classNames="fa--left"}}Sign In with GitHub
  {{/link-to}}
</div>
<div class="container container--fixedWidth">
  <h3>Get notified <em>before</em> launching a broken site</h3>
  <div class="row">
    <div class="one-half column">
      <p>Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing. Holistically pontificate <a href="#">installed base portals</a> after maintainable products.</p>
    </div>
    <div class="one-half column">
      <p>Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing. Holistically pontificate <a href="#">installed base portals</a> after maintainable products.</p>
    </div>
  </div>
  <div>
    <h3 class="docs-header">Forms</h3>
    <p>Forms are a huge pain, but hopefully these styles make it a bit easier. All inputs, select, and buttons are normalized for a common height cross-browser so inputs can be stacked or placed alongside each other.</p>
    <div class="docs-example docs-example-forms">
      <form>
        <div class="row">
          <div class="one-half column">
            <label for="exampleEmailInput">Your email</label>
            <input class="u-full-width" type="email" placeholder="test@mailbox.com" id="exampleEmailInput">
          </div>
          <div class="one-half column">
            <label for="exampleRecipientInput">Reason for contacting</label>
            <select class="u-full-width" id="exampleRecipientInput">
              <option value="Option 1">Questions</option>
              <option value="Option 2">Admiration</option>
              <option value="Option 3">Can I get your number?</option>
            </select>
          </div>
        </div>
        <label for="exampleMessage">Message</label>
        <textarea class="u-full-width" placeholder="Hi Dave &hellip;" id="exampleMessage"></textarea>
        <label class="example-send-yourself-copy">
          <input type="checkbox">
          <span class="label-body">Send a copy to yourself</span>
        </label>
        <input class="Button--primary" type="submit" value="Submit">
        <input class="Button" type="submit" value="Normal Button">
      </form>
    </div>
  </div>
</div>
