{{title "Join your team"}}
{{fixed-top-header}}
<div class="container container--forContent">
  {{invitation-handler invitation=model inviteAccepted="inviteAccepted" logout="logout"}}
</div>
{{main-footer}}
