{{fixed-top-header}}
<div class="container container--forContent">
  {{invitation-handler invitation=model inviteAccepted="inviteAccepted" invalidateSession="invalidateSession"}}
</div>
{{main-footer}}