<div class="container">
  <div class="Header Header--small Header--fixedTop">
    {{#link-to "repo.index" 'fotinakis' class="Button u-pull-right"}}
      Apps
    {{/link-to}}
    <div class="Header-logo">
      {{#link-to "index"}}
        <img src="/images/percy.svg" height="50">
      {{/link-to}}
    </div>
  </div>
</div>
<div class="container container--withFixedTopHeader">
  {{outlet}}
</div>