{{fixed-top-header}}

<div class="container-full container-vh bg-white-pattern flex align-center justify-center">
   {{password-updated-status-panel success=success currentUser=session.currentUser}}
</div>

{{main-footer}}
