{{fixed-top-header}}

<div class="container-full container-vh bg-white-pattern flex align-center justify-center">
  <div class="container-xs animate-fade-in-up">
    <div class="bg-white rounded shadow-l p-5 text-center">
      <figure class="svg-container mb-3 animate-tada">
        {{inline-svg "thumbs-up-large-icon" class="mx"}}
      </figure>
      <h2 class="text-weight-regular f2 mb-3">Success!</h2>
      <p class="alt-p text-light">
        Your password has been updated.
      </p>
      {{#if session.currentUser}}
        {{#link-to 'settings.profile' classNames='Button Button--primary test-password-updated-settings-link'}}Continue to Profile{{/link-to}}
      {{else}}
        {{#link-to 'login' classNames='Button Button--primary test-password-updated-signin-link'}}Continue to Sign In{{/link-to}}
      {{/if}}
    </div>
  </div>
</div>

{{main-footer}}
