{{fixed-top-header}}
<div class="container container--marketing">
  <div class="container container--forContent">
    <h4>Stop doing QA in the dark—automate your visual testing today.</h4>
    {{pricing-section}}
  </div>
</div>
<div class="container container--marketing container--light">
  <div class="container container--fixedWidth container--forContent">
    {{pricing-questions}}
  </div>
</div>
{{main-footer}}