{{fixed-top-header}}
<div class="container container--fixedWidth container--forContent">
  <h2>Forbidden</h2>
  <p>You do not have access to the repository or the repo does not exist in Percy.</p>
  <p>You might need to sync your private repos and try again:</p>
  <p>
    {{sync-repos-button private=true redirectTo="/" classes="Button--small"}}
  </p>
</div>