{{fixed-top-header}}

<div class="container-vh">
  <div class="container-md py-4">
    <div class="row">
      <div class="four columns">
        <aside class="sidenav">
          <header class="sidenav-header">Account Settings</header>
          <ul class="sidenav-list">
            <li class="sidenav-list-item">
              {{#link-to 'settings.profile' classNames="sidenav-list-item-link"}}Profile{{/link-to}}
            </li>
            <li class="sidenav-list-item">
              {{#link-to 'settings.connected-accounts' classNames="sidenav-list-item-link"}}Connected Accounts{{/link-to}}
            </li>
          </ul>
        </aside>
      </div>
      <div class="eight columns">{{outlet}}</div>
    </div>
  </div>
</div>

{{main-footer}}
