{{fixed-top-header}}
<div class="container container--fixedWidth container--forContent">

  <h1>Terms of Service</h1>
  <p><i>Last updated: May 29, 2015</i></p>

  <p>These Terms of Service ("Terms") govern your use of the services, software and websites (the "Service") provided by Perceptual Inc. ("us", "we", or "our"). By using the Service you agree to be bound by these Terms and our {{#link-to "privacy"}}Privacy Policy{{/link-to}}.</p>

  <h3>Content</h3>

  <p>Our Service allows you to upload, link, store, share and otherwise make available certain information, text, graphics, or other material ("Content"). You are responsible for the Content that you provide on or through the Service, including its legality, reliability, and appropriateness.</p>
  <p>By providing Content on or through the Service, you represent and warrant that: (i) the Content is yours (you own it) and/or you have the right to use it and the right to grant us the rights and license as provided in these Terms, and (ii) that the providing of your Content on or through the Service does not violate the privacy rights, publicity rights, copyrights, contract rights or any other rights of any person or entity. We reserve the right to terminate the account of anyone found to be infringing on a copyright.</p>
  <p><strong>You retain ownership of your Content</strong>, but by providing it to the Service, you are granting us a license to use, copy, reproduce, process, adapt, publish, transmit, host and display that Content for the purpose of (i) providing you the Service and associated support; and (ii) analyzing and improving the operation of the Service. We take no responsibility and assume no liability for Content you or any third party provides on or through the Service.</p>
  <p>We reserve the right to remove Content on the Service that violates these Terms, our Privacy Policy, or that we otherwise reasonably believe may create liability for Perceptual Inc.</p>

  <h3>Accounts</h3>

  <p>When you create an account with us, you guarantee that you are above the age of 13, and that the information you provide us is accurate, complete, and current.</p>
  <p>You are responsible for maintaining the confidentiality of your account and password, including but not limited to the restriction of access to your computer and/or account. You agree to accept responsibility for any and all activities or actions that occur under your account and/or password, whether your password is with our Service or a third-party service. You should notify us immediately upon becoming aware of any breach of security or unauthorized use of your account.</p>
  <p>We reserve the right to refuse service, terminate accounts, remove or edit content in our sole discretion. You may not disassemble, decompile or reverse engineer the Service or attempt or assist anyone else to do so, unless such restriction is prohibited by law.</p>

  <h3>Security</h3>

  <p>We will use industry standard technical and organizational security measures in connection with the storage, processing and transfer of your Content that are designed to protect the integrity of that Content and to guard against unauthorized or unlawful access to, use of, or processing of such Content.</p>

  <h3>Communications</h3>

  <p>We may provide you with legal notices and notices related to your account via email using the email address associated with your account. We may provide you with other marketing or business-related information, including information about Service updates or changes, via email.</p>

  <h3>Links To Other Web Sites</h3>

  <p>Our Service may contain links to third party web sites or services that are not owned or controlled by Perceptual Inc.</p>
  <p>Perceptual Inc. has no control over, and assumes no responsibility for the content, privacy policies, or practices of any third party web sites or services. We do not warrant the offerings of any of these entities/individuals or their websites.</p>
  <p>You acknowledge and agree that Perceptual Inc. shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such third party web sites or services.</p>

  <h3>Termination</h3>

  <p>You are free to stop using our Service at any time. We may terminate or suspend your account and bar access to the Service immediately, without prior notice or liability, under our sole discretion, for any reason whatsoever and without limitation, including but not limited to a breach of the Terms.</p>
  <p>All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</p>

  <h3>Governing Law</h3>

  <p>These Terms will be governed by the laws of the State of California, without regard to its conflict of laws principles. The application of the United Nations Convention on Contracts for the International Sale of Goods is expressly excluded.</p>

  <h3>Changes</h3>

  <p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will provide at least 30 days notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.</p>
  <p>By continuing to access or use our Service after any revisions become effective, you agree to be bound by the revised terms.</p>

  <h3>Modifications to the Service</h3>

  <p>The Service may be modified from time to time, often without prior notice to you. Your continued use of the Service constitutes your acceptance of such modifications. If you are not satisfied with a modification we make to the Service, your sole remedy is to terminate your use of the Service.</p>

  <h3>Indemnification</h3>

  <p>You agree to defend, indemnify and hold harmless Perceptual Inc. and its licensee and licensors, and their employees, contractors, agents, officers and directors, from and against any and all claims, damages, obligations, losses, liabilities, costs or debt, and expenses (including but not limited to attorney’s fees) arising from your use of and access to the Service or the Software, or from or in connection with any Content uploaded to the Service through your account by a third party using your account with your knowledge or consent.</p>

  <h3>No Warranty</h3>

  <p>THE SERVICE IS PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS WITHOUT ANY WARRANTY OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT. PERCEPTUAL INC IS NOT RESPONSIBLE FOR ANY DAMAGE OR LOSS OF DATA THAT MAY RESULT FROM USE OF THE SERVICE. WE DO NOT WARRANT, ENDORSE, GUARANTEE, OR ASSUME RESPONSIBILITY FOR ANY THIRD PARTY APPLICATION THAT ACCESSES THE SERVICE. WE MAKE NO WARRANTIES AS TO THE ACCURACY, RELIABILITY, COMPLETENESS, OR TIMELINESS OF THE MATERIAL, SERVICES, OR DATA PROVIDED BY THE SERVICE.</p>
  <p>The Service is controlled, operated and hosted from within the United States. We make no representations that the Service is appropriate or available for use in other locations. Those who access or use the Service from other jurisdictions do so at their own risk and are responsible for compliance with all applicable United States and local laws and regulations, including but not limited to export and import regulations.</p>

  <h3>Limitation of Liability</h3>

  <p>TO THE MAXIMUM EXTENT PERMITTED BY LAW, IN NO EVENT SHALL PERCEPTUAL INC, ITS AFFILIATES, AGENTS, DIRECTORS, EMPLOYEES, SUPPLIERS OR LICENSORS BE LIABLE FOR ANY DIRECT, INDIRECT, PUNITIVE, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES, INCLUDING WITHOUT LIMITATION DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE, DATA OR OTHER INTANGIBLE LOSSES THAT RESULT FROM THE USE OF, OR INABILITY TO USE, THE SERVICE. UNDER NO CIRCUMSTANCES WILL PERCEPTUAL INC BE RESPONSIBLE FOR ANY DAMAGE, LOSS OR INJURY RESULTING FROM HACKING, TAMPERING OR OTHER UNAUTHORIZED ACCESS OR USE OF THE SERVICES OR YOUR ACCOUNT OR THE INFORMATION CONTAINED THEREIN.</p>
  <p>IN NO EVENT SHALL PERCEPTUAL INC, ITS AFFILIATES, AGENTS, DIRECTORS, EMPLOYEES, SUPPLIERS, OR LICENSORS BE LIABLE TO YOU FOR ANY CLAIMS, PROCEEDINGS, LIABILITIES, OBLIGATIONS, DAMAGES, LOSSES OR COSTS IN AN AMOUNT EXCEEDING THE AMOUNT PAID BY YOU TO PERCEPTUAL INC IN CONNECTION WITH YOUR USE OF THE SERVICE DURING THE TWELVE (12) MONTH PERIOD PRIOR TO THE CLAIM GIVING RISE TO SUCH LIABILITY.</p>

  <h3>Contact Us</h3>
  <p>If you have any questions about these Terms, please email us at <a href="mailto:hello@percy.io">hello@percy.io</a>.</p>
</div>
{{main-footer}}
