.FormsBillingEdit {
  .FormFieldsInput {
    display: inline-block;
    float: left;
    width: 260px;
    margin-right: 5px;
    margin-bottom: 0;
  }

  .FormFieldsSubmit {
    display: inline-block;
    margin-top: 25px;

    .SavingIndicator {
      margin-top: 10px;
    }

    .Button {
      margin-bottom: 0;
    }
  }
}
